<?xml version="1.0"?>
<launch>
    <node name="slam_gmapping" pkg="gmapping" type="slam_gmapping" output="screen">
        <remap from="scan" to="scan_rectified"/>
        <rosparam>
            maxUrange: 19.9
            minimumScore: 300
            xmin: -20.0
            ymin: -20.0
            xmax: 20.0
            ymax: 20.0
            delta: 0.05
            transform_publish_period: 0.05
            maxRange: 20.0
        </rosparam>
    </node>

    <!-- <node name="stm32_driver" pkg="stm32_driver" type="stm32_driver" output="screen">
        <remap from="imu" to="imu_data" />
        <rosparam>
            is_pub_tf: false
            has_encoder: true
            wheel_separation: 0.4402
            tty_name: /dev/ttyS2
        </rosparam>
    </node>-->

    <include file="$(find bringup)/launch/rosbridge_stm32wubing.launch"/>

    <node name="robot_pose_ekf" pkg="robot_pose_ekf" type="robot_pose_ekf">
        <rosparam>
            output_frame: odom
            base_footprint_frame: base_footprint
            freq: 30.0
            sensor_timeout: 1.0
            odom_used: true
            imu_used: false #true
            vo_used: false
        </rosparam>
    </node>
</launch>
