<?xml version="1.0"?>
<launch>
    <include file="$(find bringup)/launch/bringup-base.launch"/>

    <node name="tf_base_footprint" pkg="tf_broadcaster" type="tf_broadcaster" output="screen">
        <rosparam>
            frame_id: base_footprint
            z: 0.05
        </rosparam>
    </node>

    <node name="tf_base_laser" pkg="tf_broadcaster" type="tf_broadcaster" output="screen">
        <rosparam>
            child_frame_id: base_laser
            x: 1.36
            z: 1.485
            yaw: 3.14
        </rosparam>
    </node>

    <node name="tf_base_laser_down" pkg="tf_broadcaster" type="tf_broadcaster" output="screen">
        <rosparam>
            child_frame_id: base_laser_down
            x: 2.23
            z: 0.19
     <!--        roll: 3.14 -->
        </rosparam>
    </node>

    <node name="tf_base_laser_left" pkg="tf_broadcaster" type="tf_broadcaster" output="screen">
        <rosparam>
            child_frame_id: base_laser_left
            x: 1.50
            y: 0.52
            z: 0.84
            roll: -1.57
            pitch: 1.57
        </rosparam>
    </node>

    <node name="tf_base_laser_right" pkg="tf_broadcaster" type="tf_broadcaster" output="screen">
        <rosparam>
            child_frame_id: base_laser_right
            x: 1.50
            y: -0.52
            z: 0.84
            roll: 1.57
            pitch: 1.57
        </rosparam>
    </node>

    <node name="tf_base_imu" pkg="tf_broadcaster" type="tf_broadcaster" output="screen">
        <rosparam>
            child_frame_id: base_imu
            x: 2.07
            y: 0.19
            z: 0.49
        </rosparam>
    </node>

    <node name="robot_pose_publisher" pkg="robot_pose_publisher" type="robot_pose_publisher" output="screen"/>

    <include file="$(find bringup)/launch/rosbridge_plc_forklift.launch">
        <arg name="plc_port" value="/dev/usb_left11"/>
    </include>

    <include file="$(find bringup)/launch/rosbridge_imu_jy901.launch">
        <arg name="imu_port" value="/dev/usb_left12"/>
    </include>

    <node name="lms1xx" pkg="lms1xx" type="LMS1xx_node">
        <rosparam>
            host: 192.168.0.10
            frame_id: base_laser
        </rosparam>
    </node>

    <node name="sick_tim561" pkg="sick_tim" type="sick_tim551_2050001" respawn="false" output="screen">
        <remap from= "scan" to="scan_down"/>
        <rosparam>
            frame_id: base_laser_down
            range_max: 10.0
            hostname: 192.168.0.11
            min_ang: -1.57
            max_ang: 1.57
        </rosparam>
    </node>

    <node name="laser_left" pkg="sick_tim" type="sick_tim551_2050001" respawn="false" output="screen">
        <remap from= "scan" to="scan_left"/>
        <rosparam>
            frame_id: base_laser_left
            range_max: 10.0
            hostname: 192.168.0.13
            min_ang: -2.2 #0.0
            max_ang: 2.2
        </rosparam>
    </node>
    
    <node name="laser_right" pkg="sick_tim" type="sick_tim551_2050001" respawn="false" output="screen">
        <remap from= "scan" to="scan_right"/>
        <rosparam>
            frame_id: base_laser_right
            range_max: 10.0
            hostname: 192.168.0.12
            min_ang: -2.2
            max_ang: 2.2 #0.0
        </rosparam>
    </node>
  
    <node name="scan_filter" pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen">
        <remap from="scan" to="scan"/>
        <remap from="scan_filtered" to="scan_filtered"/>
        <rosparam>
            scan_filter_chain:
            - type: laser_filters/LaserArrayFilter
              name: laser_median_filter
              params: 
                range_filter_chain:
                  - name: median_5
                    type: filters/MultiChannelMedianFilterFloat 
                    params:
                      number_of_observations: 5
                      unused: 10
                intensity_filter_chain:
                  - name: median_5
                    type: filters/MultiChannelMedianFilterFloat 
                    params:
                      number_of_observations: 5
                      unused: 10
        </rosparam>
    </node>

    <node name="scan_filter_left" pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen">
        <remap from="scan" to="scan_left"/>
        <remap from="scan_filtered" to="scan_filtered_left"/>
        <rosparam>
            scan_filter_chain:
            - type: laser_filters/LaserArrayFilter
              name: laser_median_filter
              params: 
                range_filter_chain:
                  - name: median_5
                    type: filters/MultiChannelMedianFilterFloat 
                    params:
                      number_of_observations: 5
                      unused: 10
                intensity_filter_chain:
                  - name: median_5
                    type: filters/MultiChannelMedianFilterFloat 
                    params:
                      number_of_observations: 5
                      unused: 10
        </rosparam>
    </node>

    <node name="scan_filter_right" pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen">
        <remap from="scan" to="scan_right"/>
        <remap from="scan_filtered" to="scan_filtered_right"/>
        <rosparam>
            scan_filter_chain:
            - type: laser_filters/LaserArrayFilter
              name: laser_median_filter
              params: 
                range_filter_chain:
                  - name: median_5
                    type: filters/MultiChannelMedianFilterFloat 
                    params:
                      number_of_observations: 5
                      unused: 10
                intensity_filter_chain:
                  - name: median_5
                    type: filters/MultiChannelMedianFilterFloat 
                    params:
                      number_of_observations: 5
                      unused: 10
        </rosparam>
    </node>

    <node name="scan_filter_down" pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen">
        <remap from="scan" to="scan_down"/>
        <remap from="scan_filtered" to="scan_filtered_down"/>
        <rosparam>
            scan_filter_chain:
            - type: laser_filters/LaserArrayFilter
              name: laser_median_filter
              params: 
                range_filter_chain:
                  - name: median_5
                    type: filters/MultiChannelMedianFilterFloat 
                    params:
                      number_of_observations: 5
                      unused: 10
                intensity_filter_chain:
                  - name: median_5
                    type: filters/MultiChannelMedianFilterFloat 
                    params:
                      number_of_observations: 5
                      unused: 10
        </rosparam>
    </node>

    <node name="scan_rectifier" pkg="scan_rectifier" type="scan_rectifier" output="screen">
        <remap from="scan_input" to="scan_filtered"/>
        <remap from="scan_output" to="scan_rectified"/>
        <rosparam>
            max_range: 20.0
        </rosparam>
    </node>

    <node name="scan_rectifier_left" pkg="scan_rectifier" type="scan_rectifier" output="screen">
        <remap from="scan_input" to="scan_filtered_left"/>
        <remap from="scan_output" to="scan_rectified_left"/>
        <rosparam>
            max_range: 10.0
        </rosparam>
    </node>

    <node name="scan_rectifier_right" pkg="scan_rectifier" type="scan_rectifier" output="screen">
        <remap from="scan_input" to="scan_filtered_right"/>
        <remap from="scan_output" to="scan_rectified_right"/>
        <rosparam>
            max_range: 10.0
        </rosparam>
    </node>

    <node name="scan_rectifier_down" pkg="scan_rectifier" type="scan_rectifier" output="screen">
        <remap from="scan_input" to="scan_filtered_down"/>
        <remap from="scan_output" to="scan_rectified_down"/>
        <rosparam>
            max_range: 10.0
        </rosparam>
    </node>
</launch>
