<?xml version="1.0"?>
<launch>
    <!-- <node name="rosbridge_plc" pkg="rosbridge_driver" type="rosbridge_driver" output="screen">
        <rosparam>
            port_chain:
              - name: plc
                type: serial
                serial_port: /dev/usb_right
                serial_baud: 115200
                serial_stop: 1
                action_chain:
                  - name: plc
                    type: write
                    byte: [0x06, 0x10, 0x00, 0x64, 0x00, 0x01, 0x02, 0xcf, 0xfd, crc16, little]
                  - name: plc
                    type: read
                    byte: [0x06, 0x10, 0x00, 0x64, 0x00, 0x01, crc16, little]
            topic_chain:
              - name: ackermann_msgs #cmd_vel
                type: subscribe
                wheel_model: acke
                fork_a: 4.0 #2.296(v)/0.555(m/s)
                fork_b: 4.1
                plc_a: 3125.0 #3149.2
                plc_b: 0.0903
                angle_b_l: 113.7183 #115.58209 #113.3803
                angle_k_l: 30.985915  #32.8358209 #28.1690141
                angle_b_r: 94.9882 #115.58209 #113.3803
                angle_k_r: 25.88235294  #32.8358209 #28.1690141
                wheel_base: 1.48
                stop_mode: move_stop
                action_chain:
                  - name: plc
                    type: write
                    byte: [0x06, 0x10, 0x00, 0x64, 0x00, 0x09, 0x12, 0x00, 0x00, 0x00, 0x04, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, speed_plc, big, angle_left, big, angle_right, big, crc16, little]
                  - name: plc
                    type: read
                    byte: [0x06, 0x06, 0x00, 0x64, 0x00, 0x05, crc16, little]
              - name: cmd_vel
                type: subscribe
                wheel_model: acke
                fork_a: 4.0 #2.296(v)/0.555(m/s)
                fork_b: 4.1
                plc_a: 3125.0 #3149.2
                plc_b: 0.0903
                angle_b_l: 113.7183 #115.58209 #113.3803
                angle_k_l: 30.985915  #32.8358209 #28.1690141
                angle_b_r: 94.9882 #115.58209 #113.3803
                angle_k_r: 25.88235294  #32.8358209 #28.1690141
                wheel_base: 1.48
                stop_mode: move_stop
                action_chain:
                  - name: plc
                    type: write
                    byte: [0x06, 0x10, 0x00, 0x64, 0x00, 0x09, 0x12, 0x00, 0x00, 0x00, 0x04, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, speed_plc, big, angle_left, big, angle_right, big, crc16, little]
                  - name: plc
                    type: read
                    byte: [0x06, 0x06, 0x00, 0x64, 0x00, 0x05, crc16, little]
              - name: diagnostics
                type: publish
        </rosparam>
    </node> -->
  <arg name="tf_map_scanmatch_transform_frame_name" default="scanmatcher_frame"/>
  <arg name="base_frame" default="base_footprint"/>
  <arg name="odom_frame" default="base_footprint"/>
  <arg name="pub_map_odom_transform" default="true"/>
  <arg name="scan_subscriber_queue_size" default="50"/>
  <arg name="scan_topic" default="scan"/>
  <arg name="map_size" default="1024"/>
  
  <node pkg="hector_mapping" type="hector_mapping" name="hector_mapping" output="screen">
    
    <!-- Frame names -->
    <param name="map_frame" value="map" />
    <param name="base_frame" value="$(arg base_frame)" />
    <param name="odom_frame" value="$(arg odom_frame)" />
    
    <!-- Tf use -->
    <param name="use_tf_scan_transformation" value="true"/>
    <param name="use_tf_pose_start_estimate" value="false"/>
    <param name="pub_map_odom_transform" value="$(arg pub_map_odom_transform)"/>
    
    <!-- Map size / start point -->
    <param name="map_resolution" value="0.075"/>
    <param name="map_size" value="$(arg map_size)"/>
    <param name="map_start_x" value="0.5"/>
    <param name="map_start_y" value="0.5" />
    <param name="map_multi_res_levels" value="2" />
    <param name="map_pub_period" value="2.0" />
    
    <!-- Map update parameters -->
    <param name="update_factor_free" value="0.4"/>
    <param name="update_factor_occupied" value="0.9" />    
    <param name="map_update_distance_thresh" value="0.4"/>
    <param name="map_update_angle_thresh" value="0.06" />
    <param name="laser_min_dist" value = "0.5" />
    <param name="laser_max_dist" value = "20.0" />
    <param name="laser_z_min_value" value = "-1.0" />
    <param name="laser_z_max_value" value = "1.0" />
    <!--param name="output_timing" value = "true" /-->
    
    <!-- Advertising config --> 
    <param name="advertise_map_service" value="true"/>
    
    <param name="scan_subscriber_queue_size" value="$(arg scan_subscriber_queue_size)"/>
    <param name="scan_topic" value="$(arg scan_topic)"/>
    <!-- param name="pub_map_scanmatch_transform" value="false" /-->
    <param name="tf_map_scanmatch_transform_frame_name" value="$(arg tf_map_scanmatch_transform_frame_name)" />

  </node>
</launch>
