<?xml version="1.0"?>
<launch>
    <include file="$(find bringup)/launch/forklift/bringup-dbparam-forklift.launch" />

    <include file="$(find bringup)/launch/forklift/bringup-navi-forklift.launch" >
        <arg name="max_vel_x" default="0.55"/>
        <arg name="max_vel_theta" default="0.25"/>
        <arg name="footprint" value="[[1.775, 0.44], [1.775, -0.44], [-0.372, -0.44], [-0.372, 0.44]]"/><!--"[[1.95, 0.44], [1.95, -0.44], [-0.20, -0.44], [-0.20, 0.44]]"-->
        <!--"[[1.075, 0.44], [1.075, -0.44], [-1.075, -0.44], [-1.075, 0.44]]"-->
        <!--"[[0.45, 0.44], [0.45, -0.44], [-1.70, -0.44], [-1.70, 0.44]]"-->
        <!-- arg name="footprint" default="[[0.32, 0.29], [0.37, 0.21], [0.39, 0.08], [0.40,0], [0.39, -0.08], [0.37, -0.21], [0.32, -0.29], [-0.40, -0.29], [-0.40, 0.29]]"/ -->
    </include>
    
    <include file="$(find bringup)/launch/forklift/hector_mapping_localization.launch">
        <arg name="scan_topic" value="/scan_rectified"/>
    </include>

    <!-- <include file="$(find bringup)/launch/hector_initmap.launch"/> -->

    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
       <rosparam command="load" file="$(find bringup)/launch/forklift/ekf_hector_mapping.yaml" />
    </node>
</launch>