<?xml version="1.0"?>
<launch>
    <arg name="namespace" default="$(optenv AGV_NAME)"/>
    <include file="$(find bringup)/launch/forklift/bringup-dbparam-forklift.launch" />

    <include file="$(find bringup)/launch/forklift/bringup-navi-forklift.launch" >
        <arg name="max_vel_x" default="0.55"/>
        <arg name="max_vel_theta" default="0.55"/>
        <arg name="footprint" value="[[1.775, 0.44], [1.775, -0.44], [-0.372, -0.44], [-0.372, 0.44]]"/><!--"[[1.95, 0.44], [1.95, -0.44], [-0.20, -0.44], [-0.20, 0.44]]"-->
        <!--"[[1.075, 0.44], [1.075, -0.44], [-1.075, -0.44], [-1.075, 0.44]]"-->
        <!--"[[0.45, 0.44], [0.45, -0.44], [-1.70, -0.44], [-1.70, 0.44]]"-->
        <!-- arg name="footprint" default="[[0.32, 0.29], [0.37, 0.21], [0.39, 0.08], [0.40,0], [0.39, -0.08], [0.37, -0.21], [0.32, -0.29], [-0.40, -0.29], [-0.40, 0.29]]"/ -->
    </include>
    
<!--     <include file="$(find bringup)/launch/forklift/hector_mapping_localization.launch">
        <arg name="scan_topic" default="$(arg namespace)/scan_rectified"/>
    </include>
 -->
    <!-- <include file="$(find bringup)/launch/hector_initmap.launch"/> -->


    <node pkg="laser_scan_matcher" type="laser_scan_matcher_node" name="laser_scan_matcher_node"      output="screen">
        <remap from="scan" to="scan_rectified"/>
        <remap from="imu/data" to="imu_data"/>
        <remap from="pose_with_covariance_stamped" to="scan_matcher_pose"/>
        <remap from="pose_stamped" to="matcher_pose"/>
        <rosparam>
            fixed_frame: map
            base_frame: base_footprint
            use_imu: true
            use_odom: false
            publish_tf: false
            publish_pose: false
            publish_pose_stamped: false
            publish_pose_with_covariance_stamped: true
            max_iterations: 1000
            max_correspondence_dist: 2.0
            max_linear_correction: 0.2
            kf_dist_angular: 0.1
        </rosparam>
    </node>


    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
        <rosparam command="load" file="$(find bringup)/launch/forklift/ekf_csm.yaml" />
        <param name="pose0" value="$(arg namespace)/scan_matcher_pose"/>
        <param name="imu0" value="$(arg namespace)/imu_data"/>
    </node>

<!--     <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
	<rosparam command="load" file="$(find bringup)/launch/forklift/ekf_hector_mapping.yaml" />
	<param name="pose0" value="$(arg namespace)/poseupdate"/>
	<param name="imu0" value="$(arg namespace)/imu_data"/>
    </node>
 -->
</launch>
