<!DOCTYPE html>
<html lang='en'>
<meta charset="utf-8"/>
<head>
	<title>Scheduling Webapp</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="../static/lib/mui.min.css" rel="stylesheet" type="text/css" />
  <script src="../static/lib/mui.min.js"></script>
	
	<link rel="stylesheet" type="text/css" href="../static/lib/jquery.mobile-1.4.5.min.css">
	<script type="text/javascript" src="../static/lib/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="../static/lib/jquery.mobile-1.4.5.min.js"></script>
	<script type="text/javascript" src="../static/lib/eventemitter2.min.js"></script>
	<script type="text/javascript" src="../static/lib/roslib.js"></script>

	<script type="text/javascript" src="../static/js/scheduling.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/style/scheduling.css">
</head>
<body>

<div id="sidedrawer" class="mui--no-user-select">
  <div id="sidedrawer-brand" class="mui--appbar-line-height">
    <span class="mui--text-title">HRG</span>
  </div>
  <div class="mui-divider"></div>

  <ul>
  	<li>
  		<p>服务器IP:</p>
  		<input id="server-ip" type="" name="" value="localhost">
  	</li>
  </ul>
  <button id="connect-ros" class="mui-btn mui-btn--flat mui-btn--primary">连接</button>
  <div class="mui-divider"></div>

  <ul>
    <li>
      <strong>上料点</strong>
		<select id="loading-station">
		</select>
    </li>

    <li>
      <strong>下料点</strong>
		<select id="unloading-station">
		</select>
    </li>
  </ul>
 
  <div id="reverse-div">
  	<input type="checkbox" id="reverse">
  	<p>返程</p>
  </div>
  <button id="add-task" class="mui-btn mui-btn--flat mui-btn--primary">确认</button>
  <div class="mui-divider"></div>
</div>


<header id="header">
  <div class="mui-appbar mui--appbar-line-height">
    <div class="mui-container-fluid">
      <a class="sidedrawer-toggle mui--visible-xs-inline-block mui--visible-sm-inline-block js-show-sidedrawer">☰</a>
      <a class="sidedrawer-toggle mui--hidden-xs mui--hidden-sm js-hide-sidedrawer">☰</a>
      <span class="mui--text-title mui--visible-xs-inline-block mui--visible-sm-inline-block"></span>
    </div>
  </div>
</header>

<div id="content-wrapper">
  <div class="mui--appbar-height"></div>
  <div class="mui-container-fluid">
    <br>
    <h3>调度信息:</h3>
    <p id="connection-info"></p>
    <p id="task-info"></p>
    <p id="task-feedback"></p>
  </div>
  <div class="mui-divider"></div>

  <div id="agv-info-list" class="mui-container-fluid">
      <h3>叉车信息:</h3>
      <p class="agv-info"></p>
  </div>
  <div class="mui-divider"></div>

  <div id="executing-tasks" class="mui-container-fluid">
      <h3>正在执行:</h3>
  </div>
  <div class="mui-divider"></div>
  
  <div id="pending-tasks" class="mui-container-fluid">
      <h3>等待执行:</h3>
  </div>
  
</div>
</body>
</html>