<?xml version="1.0"?>
<launch>
<arg name="namespace" default="$(optenv AGV_NAME /)"/>
<group ns="$(arg namespace)">

	<arg name="marker_obs" default="3"/>
	<arg name="marker_interval" default="0.11"/>
	<arg name="marker_threshold" default="240.0"/>

    <node name="scan_marker" pkg="scan_marker" type="scan_marker" output="screen">
        <remap from="scan" to="scan_rectified"/>
        <remap from="pose" to="/scan_marker/pose"/>
        <param name="marker_obs" value="$(arg marker_obs)"/>
        <param name="marker_interval" value="$(arg marker_interval)"/>
        <param name="marker_threshold" value="$(arg marker_threshold)"/>
    </node>

</group>
</launch>
