<?xml version="1.0"?>
<launch>
    <include file="$(find bringup)/launch/bringup-dbparam.launch" />

    <include file="$(find bringup)/launch/bringup-navi.launch" >
        <arg name="max_vel_x" default="0.45"/>
        <arg name="max_vel_theta" default="0.8"/>
        <arg name="footprint" value="[[0.40, 0.18], [0.32, 0.30], [-0.32, 0.30], [-0.40, 0.18], [-0.40, -0.18], [-0.32, -0.30], [0.32, -0.30], [0.40, -0.18]]"/>
        <!-- arg name="footprint" default="[[0.32, 0.29], [0.37, 0.21], [0.39, 0.08], [0.40,0], [0.39, -0.08], [0.37, -0.21], [0.32, -0.29], [-0.40, -0.29], [-0.40, 0.29]]"/ -->
    </include>
</launch>
