<?xml version="1.0"?>
<launch>
    <arg name="plc_port" default="/dev/usb_right"/>
    <node name="rosbridge_drive_radio" pkg="rosbridge_driver" type="rosbridge_driver" output="screen">
        <param name="plc_port" value="$(arg plc_port)"/>
        <rosparam>
            port_chain:
              - name: plc_port
                type: serial
                serial_baud: 115200
                serial_parity: 'N'
                serial_stop: 1
                timeout: 0.1
                action_chain:
                  - name: plc_port
                    type: write
                    byte: [0x8a, 0x10, 0x00, 0x09, 0x00, 0x01, 0x02, 0x00, 0x00, crc16, little]
                  - name: plc_port
                    type: read
                    byte: [0x8a, data, 0x00, 0x09, 0x00, 0x01, crc16, little]
            topic_chain:
              - name: waypoint_user_pub
                type: subscribe 
              - name: pubsuber_open
                type: event
                action_chain:
                  - name: plc_port
                    type: write
                    byte: [0x8a, 0x10, 0x00, 0x09, 0x00, 0x01, 0x02, 0x00, 0x00, crc16, little]
                  - name: plc_port
                    type: read
                    byte: [0x8a, data, 0x00, 0x09, 0x00, 0x01, crc16, little]
                    time_out: 1.5
                echo: [data]
                data: 0x00
              - name: pubsuber_close
                type: event
                action_chain:
                  - name: plc_port
                    type: write
                    byte: [0x8a, 0x10, 0x00, 0x09, 0x00, 0x01, 0x02, 0x00, 0xff, crc16, little]
                  - name: plc_port
                    type: read
                    byte: [0x8a, data, 0x00, 0x09, 0x00, 0x01, crc16, little]
                    time_out: 1.5
                echo: [data]
                data: 0x00
              - name: pubsuber_read
                type: event
                action_chain:
                  - name: plc_port
                    type: write
                    byte: [0x8a, 0x03, 0x00, 0x09, 0x00, 0x01, crc16, little]
                  - name: plc_port
                    type: read
                    byte: [0x8a, 0x03, 0x02, 0x00, data, crc16, little]
                    time_out: 1.5
                echo: [data]
                data: 0x00
              - name: diagnostics
                type: publish
        </rosparam>
    </node>
</launch>
