<?xml version="1.0"?>
<launch>
    <arg name="plc_port" default="/dev/ttyUSB0"/>
    <node name="rosbridge_motor" pkg="rosbridge_driver" type="rosbridge_driver" output="screen">
        <param name="plc_port" value="$(arg plc_port)"/>
        <rosparam>
            port_chain:
              - name: plc_port
                type: serial
                timeout: 1.5
            topic_chain:
              - name: waypoint_user_pub
                type: subscribe
              - name: pub_up
                type: event
                action_chain:
                  - name: plc_port
                    type: write
                    byte: [0x05, 0x06, 0x00, 0x42, 0x03, 0xb2, crc16, little]
                  - name: plc_port
                    type: read
                    byte: [0x05, 0x06, 0x00, 0x42, 0x03, 0xb2, crc16, little]
                    except: [0x05, 0x86, errno, crc16, little]
              - name: pub_down
                type: event
                action_chain:
                  - name: plc_port
                    type: write
                    byte: [0x05, 0x06, 0x00, 0x42, 0xfd, 0x4e, crc16, little]
                  - name: plc_port
                    type: read
                    byte: [0x05, 0x06, 0x00, 0x42, 0xfd, 0x4e, crc16, little]
                    except: [0x05, 0x86, errno, crc16, little] 
              - name: pub_lift_stop
                type: event
                action_chain:
                  - name: plc_port
                    type: write
                    byte: [0x05, 0x06, 0x00, 0x42, 0x00, 0x00, 0x28, 0x5a]
                  - name: plc_port
                    type: read
                    byte: [0x05, 0x06, 0x00, 0x42, 0x00, 0x00, 0x28, 0x5a]
                    except: [0x05, 0x86, errno, crc16, little] 
              - name: pubsuber_lift_up
                type: event
                action_chain:
                  - name: plc_port
                    type: write
                    byte: [0x05, 0x06, 0x00, 0x42, 0x03, 0xb2, crc16, little]
                  - name: plc_port
                    type: read
                    byte: [0x05, data, 0x00, 0x42, 0x03, 0xb2, crc16, little]
                    time_out: 1.5
                echo: [data]
                data: 0x00
              - name: pubsuber_lift_down
                type: event
                action_chain:
                  - name: plc_port
                    type: write
                    byte: [0x05, 0x06, 0x00, 0x42, 0xfd, 0x4e, crc16, little]
                  - name: plc_port
                    type: read
                    byte: [0x05, data, 0x00, 0x42, 0xfd, 0x4e, crc16, little]
                    time_out: 1.5
                echo: [data]
                data: 0x00
              - name: pubsuber_lift_stop
                type: event
                action_chain:
                  - name: plc_port
                    type: write
                    byte: [0x05, 0x06, 0x00, 0x42, 0x00, 0x00, 0x28, 0x5a]
                  - name: plc_port
                    type: read
                    byte: [0x05, data, 0x00, 0x42, 0x00, 0x00, 0x28, 0x5a]
                    time_out: 1.5
                echo: [data]
                data: 0x00
              - name: diagnostics
                type: publish
        </rosparam>
    </node>
</launch>
