<?xml version="1.0"?>
<launch>
    <node name="system_shell" pkg="system_shell" type="system_shell" output="screen">
        <rosparam>
            time_duration: 7.0
            #init_cmd: ll
        </rosparam>
    </node>

    <node name="tf_base_footprint" pkg="tf_broadcaster" type="tf_broadcaster" output="screen">
        <rosparam>
            frame_id: base_footprint
            z: 0.035
        </rosparam>
    </node>

    <node name="tf_base_laser" pkg="tf_broadcaster" type="tf_broadcaster" output="screen">
        <rosparam>
            child_frame_id: base_laser
            x: 0.23
            z: 0.31
        </rosparam>
    </node>

    <node name="tf_base_imu" pkg="tf_broadcaster" type="tf_broadcaster" output="screen">
        <rosparam>
            child_frame_id: base_imu
            x: -0.12
            z: 0.88
        </rosparam>
    </node>

    <node name="robot_pose_publisher" pkg="robot_pose_publisher" type="robot_pose_publisher" output="screen"/>
 
    <node name="stm32_driver" pkg="stm32_driver" type="stm32_driver" output="screen">
        <remap from="imu" to="imu_data" />
        <rosparam>
            is_pub_tf: false
            has_encoder: true
            wheel_separation: 0.4402
            tty_name: /dev/ttySx
        </rosparam>
    </node>

    <node name="rosbridge_stm32" pkg="rosbridge_driver" type="rosbridge_driver" output="screen">
        <rosparam>
            port_chain:
              - name: main
                type: serial
                serial_port: /dev/ttySx
            topic_chain:
              - name: cmd_vel
                type: subscribe
                wheel_model: diff
                wheel_track: 0.22
                wheel_ratio: 23333.3
                action_chain:
                  - name: left
                    type: write
                    byte: [0x02, 0x06, 0x00, 0x43, left, big, crc16, little]
                  - name: right
                    type: write
                    byte: [0x03, 0x06, 0x00, 0x43, right, big, crc16, little]
                  - name: left
                    type: read
                    byte: [0x02, 0x06, 0x00, 0x43, left, big, crc16, little]
                    except: [0x02, 0x86, errno, crc16, little]
                  - name: right
                    type: read
                    byte: [0x03, 0x06, 0x00, 0x43, right, big, crc16, little]
                    except: [0x03, 0x86, errno, crc16, little]
              - name: odom
                type: publish
                action_chain:
                  - name: left
                    type: write
                    byte: [0x02, 0x03, 0x00 0x22, 0x00, 0x01, 0x24, 0x33]
                  - name: right
                    type: write
                    byte: [0x03, 0x03, 0x00 0x22, 0x00, 0x01, 0x25, 0xe2]
                  - name: left
                    type: read
                    byte: [0x02, 0x03, 0x02, left, big, crc16, little]
                    except: [0x02, 0x83, errno, crc16, little]
                  - name: right
                    type: read
                    byte: [0x03, 0x06, 0x02, right, big, crc16, little]
                    except: [0x03, 0x83, errno, crc16, little]
              - name: diagnostics
                type: publish
        </rosparam>
    </node>

    <node name="urg_node" pkg="urg_node" type="urg_node" output="screen">
        <rosparam>
            ip_address: 192.168.0.10
            frame_id: base_laser
            publish_multiecho: false
            angle_min: -1.57
            angle_max: 1.57
            skip: 0
        </rosparam>
    </node>
  
    <node name="scan_filter" pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen">
        <remap from="scan" to="scan"/>
        <remap from="scan_filtered" to="scan_filtered"/>
        <rosparam>
            scan_filter_chain:
            - type: laser_filters/LaserArrayFilter
              name: laser_median_filter
              params: 
                range_filter_chain:
                  - name: median_5
                    type: filters/MultiChannelMedianFilterFloat 
                    params:
                      number_of_observations: 5
                      unused: 10
                intensity_filter_chain:
                  - name: median_5
                    type: filters/MultiChannelMedianFilterFloat 
                    params:
                      number_of_observations: 5
                      unused: 10
        </rosparam>
    </node>

    <node name="scan_rectifier" pkg="scan_rectifier" type="scan_rectifier" output="screen">
        <remap from="scan_input" to="scan_filtered"/>
        <remap from="scan_output" to="scan_rectified"/>
        <rosparam>
            max_range: 20.0
        </rosparam>
    </node>

    <node name="robot_pose_ekf" pkg="robot_pose_ekf" type="robot_pose_ekf">
        <rosparam>
            output_frame: odom
            base_footprint_frame: base_footprint
            freq: 30.0
            sensor_timeout: 1.0
            odom_used: true
            imu_used: true
            vo_used: false
        </rosparam>
    </node>

</launch>
