<?xml version="1.0"?>
<launch>
    <node name="rosbridge_shell" pkg="rosbridge_shell" type="rosbridge_shell" output="screen">
        <rosparam if="$(optenv ROS_USER_VALID false)">
            init_cmd: rosnodejs
        </rosparam>
    </node>

    <include file="$(find bringup)/launch/bringup-dbparam.launch" unless="$(optenv ROS_USER_VALID true)"/>
</launch>
