<?xml version="1.0"?>
<launch>
    <include file="$(find bringup)/launch/map_server.launch"/>

    <include file="$(find bringup)/launch/map_edit_server.launch"/>

    <include file="$(find yocs_waypoint_provider)/launch/provider.launch"/>

    <include file="$(find yocs_waypoints_navi)/launch/waypoints_navi.launch"/>
</launch>