<?xml version="1.0"?>
<launch>
    <include file="$(find bringup)/launch/tf_base_footprint.launch"/>
    <include file="$(find bringup)/launch/tf_base_imu.launch"/>
    <include file="$(find bringup)/launch/tf_base_laser.launch"/>
    <include file="$(find bringup)/launch/robot_pose_publisher.launch"/>
    <include file="$(find bringup)/launch/urg_node.launch"/>
    <include file="$(find bringup)/launch/scan_filter.launch"/>
    <include file="$(find bringup)/launch/scan_rectifier.launch"/>
</launch>