<?xml version="1.0"?>
<launch>
    <include file="$(arg robot_pkg)/launch/map_edit_server.launch"/>

	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
		<!-- <rosparam file="$(find bringup)/param/costmap_common_params.yaml" ns="global_costmap"/> -->
		<rosparam>
		    global_costmap:
				#footprint: [[0.28, -0.28], [0.28, 0.28], [-0.28, 0.28], [-0.28, -0.28]] 
				robot_radius: 0.42
				map_type: costmap 
				
				obstacle_layer: 
				  enabled:              true
				  track_unknown_space:  false #true 
				  origin_z:             0.0         
				  z_resolution:         0.2
				  z_voxels:             8 #10  #5
				  unknown_threshold:    8  #15
				  mark_threshold:       0
				  publish_voxel_map:    false
				#  combination_method:   1
				  max_obstacle_height:  2.0    
				  obstacle_range:       2.5
				  raytrace_range:       3.0
				  observation_sources:  scan_rectified  # sensor_pointcloud_first
				  scan_rectified: 
				        topic:          /scan_rectified
				        expected_update_rate: 5 #0.1 #0.25
				        data_type:      LaserScan
				        marking:        true
				        clearing:       true
				        min_obstacle_height: -1.0
				        max_obstacle_height: 1.0 
				        inf_is_valid:   true
				 # sensor_pointcloud_first:
				 #       topic:          /camera/depth/points
				 #       data_type:      PointCloud2
				 #       marking:        true
				 #       clearing:       true 
				 #       min_obstacle_height: 0.0 
				 #       max_obstacle_height: 1.7   
				      
				inflation_layer:
				  enabled:              true
				  inflation_radius:     0.6 #0.75  
				  cost_scaling_factor:  5  
				static_layer:
				  enabled:              true
				  map_topic:            /map_edit #/map 
				#  unknown_cost_value:   254
		</rosparam>
		<!-- <rosparam file="$(find bringup)/param/costmap_common_params.yaml" ns="local_costmap"/> -->
		<rosparam>
			local_costmap:
				#footprint: [[0.28, -0.28], [0.28, 0.28], [-0.28, 0.28], [-0.28, -0.28]] 
				robot_radius: 0.42
				map_type: costmap 
				
				obstacle_layer: 
				  enabled:              true
				  track_unknown_space:  false #true 
				  origin_z:             0.0         
				  z_resolution:         0.2
				  z_voxels:             8 #10  #5
				  unknown_threshold:    8  #15
				  mark_threshold:       0
				  publish_voxel_map:    false
				#  combination_method:   1
				  max_obstacle_height:  2.0    
				  obstacle_range:       2.5
				  raytrace_range:       3.0
				  observation_sources:  scan_rectified  # sensor_pointcloud_first
				  scan_rectified: 
				        topic:          /scan_rectified
				        expected_update_rate: 5 #0.1 #0.25
				        data_type:      LaserScan
				        marking:        true
				        clearing:       true
				        min_obstacle_height: -1.0
				        max_obstacle_height: 1.0 
				        inf_is_valid:   true
				 # sensor_pointcloud_first:
				 #       topic:          /camera/depth/points
				 #       data_type:      PointCloud2
				 #       marking:        true
				 #       clearing:       true 
				 #       min_obstacle_height: 0.0 
				 #       max_obstacle_height: 1.7   
				      
				inflation_layer:
				  enabled:              true
				  inflation_radius:     0.6 #0.75  
				  cost_scaling_factor:  5  
				static_layer:
				  enabled:              true
				  map_topic:            /map_edit #/map 
				#  unknown_cost_value:   254
		</rosparam>
		<!-- <rosparam file="$(find bringup)/param/local_costmap_params.yaml"/> -->
		<rosparam>
			local_costmap:
			   global_frame: /odom 
			   robot_base_frame: /base_footprint
			   update_frequency: 5.0
			   publish_frequency: 2.0 #0.5
			   static_map: false
			   rolling_window: true
			   width: 6.0
			   height: 6.0
			   resolution: 0.075
			   transform_tolerance: 0.2
		</rosparam>
		<!-- <rosparam file="$(find bringup)/param/global_costmap_params.yaml"/> -->
		<rosparam>
			global_costmap:
			   global_frame: /map
			   robot_base_frame: /base_footprint
			   update_frequency: 2.0 
			   publish_frequency: 1.0 #0.5
			   static_map: true
			   transform_tolerance: 0.2
			   origin_x: 0.0
			   origin_y: 0.0
			   resolution: 0.075
			
			 #  obstacle_layer: 
			 #    enabled:              false
		</rosparam>
		<!-- <rosparam file="$(find bringup)/param/base_local_planner_params.yaml"/> -->
		<rosparam>
			TrajectoryPlannerROS:
			
			# Robot Configuration Parameters
			  max_vel_x: 0.5 
			  min_vel_x: 0.1
			
			  max_vel_theta: 1.0 
			  min_vel_theta: -1.0 
			  min_in_place_vel_theta: 0.4 
			  
			  acc_lim_x: 1.0 #2.5
			  acc_lim_y: 0.0
			  acc_lim_th: 2.0 #3.2
			  escape_vel: -0.1
			
			  holonomic_robot: false
			
			# Goal Tolerance Parameters
			  yaw_goal_tolerance: 0.05 #0.3  
			  xy_goal_tolerance: 0.075 #0.15 
			  latch_xy_goal_tolerance: false #true #false
			
			# Forward Simulation Parameters
			  sim_time: 1.0 #1.7  
			  sim_granularity: 0.025 #0.075         
			  vx_samples: 3 
			  vy_samples: 1
			  vtheta_samples: 20
			
			# Trajectory Scoring Parameters
			  meter_scoring: true
			  pdist_scale: 0.6
			  gdist_scale: 0.8
			  occdist_scale: 0.5 #0.01
			  heading_scoring: true
			  heading_lookahead: 0.325
			  heading_scoring_timestep: 1.0 #0.8
			  dwa: true
			#  publish_cost_grid_pc: false
			#  global_frame_id: odom
			
			# Oscillation Prevention Parameters
			  oscillation_reset_dist: 0.075
			
			# Global Planner Parameters
			  prune_plan: true
			
			# Differential-drive robot configuration
			  max_vel_y: 0.0
			  min_vel_y: 0.0
		</rosparam>
		<!-- <rosparam file="$(find bringup)/param/dwa_local_planner_params.yaml"/> -->
		<rosparam>
			DWAPlannerROS:
			
			# Robot Configuration Parameters 
			  max_vel_x: 0.55 
			  min_vel_x: 0.0
			
			  max_vel_y: 0.0
			  min_vel_y: 0.0
			
			  max_trans_vel: 0.55 
			  min_trans_vel: 0.1
			#  trans_stopped_vel: 0.1
			
			  max_rot_vel: 1.0  
			  min_rot_vel: 0.4 
			#  rot_stopped_vel: 0.4 
			  
			  acc_lim_x: 2.0 #slow 1.0, fast 2.0
			  acc_lim_y: 0.0
			  acc_lim_th: 2.0 #slow 2.0, fast 2.0
			
			# Goal Tolerance Parameters
			  yaw_goal_tolerance: 0.2 #0.05 #0.1  #0.3
			  xy_goal_tolerance: 0.075 #0.05 #0.15 #0.3
			  latch_xy_goal_tolerance: true 
			
			
			# Forward Simulation Parameters
			  sim_time: 1.7 #3.0 in narrow area #1.7 normal
			  sim_granularity: 0.025 #0.075          
			  vx_samples: 6 
			  vy_samples: 1     
			  vtheta_samples: 20 
			  penalize_negative_x: false #true 
			
			# Trajectory Scoring Parameters
			  path_distance_bias: 64.0       
			  goal_distance_bias: 24.0   
			  occdist_scale: 0.5 
			  forward_point_distance: 0.325 
			  stop_time_buffer: 0.2      
			  scaling_speed: 0.25      
			  max_scaling_factor: 0.2     
			
			# Oscillation Prevention Parameters
			  oscillation_reset_dist: 0.075
		</rosparam>
		<!-- <rosparam file="$(find bringup)/param/move_base_params.yaml"/> -->
		<rosparam>
			shutdown_costmaps: false
			
			controller_frequency: 5.0  
			controller_patience: 15.0        
			
			planner_frequency: 1.0  #0.0
			planner_patience: 2.0 #5.0
			
			oscillation_timeout: 10.0
			oscillation_distance: 0.5 
			
			# local planner - default is trajectory rollout
			base_local_planner: "dwa_local_planner/DWAPlannerROS"
			
			base_global_planner: "navfn/NavfnROS" #alternatives: global_planner/GlobalPlanner, carrot_planner/CarrotPlanner
			
			recovery_behavior_enabled: true
			clearing_rotation_allowed: false #true
		</rosparam>
		<!-- <rosparam file="$(find bringup)/param/rotate_recovery.yaml"/> -->
		<rosparam>
			TrajectoryPlannerROS/yaw_goal_tolerance: 0.05
			TrajectoryPlannerROS/acc_lim_th: 3.2
			TrajectoryPlannerROS/max_rotational_vel: 0.6
			TrajectoryPlannerROS/min_in_place_rotational_vel: 0.4
		</rosparam>
		<remap from="odom" to="/odom_0"/>
	</node>

    <!-- include file="$(find bringup)/launch/base_collision_observer.launch"/ -->
</launch>
