<?xml version="1.0"?>
<launch>
    <node name="rosbridge_zoe" pkg="rosbridge_driver" type="rosbridge_driver" output="screen">
        <rosparam>
            port_chain:
              - name: encoder
                type: serial
                serial_port: /dev/usb_encoder
              - name: steer
                type: serial
                serial_port: /dev/usb_steer
              - name: left
                type: serial
                serial_port: /dev/usb_left
              - name: right
                type: serial
                serial_port: /dev/usb_right
            topic_chain:
              - name: init_steer
                type: subscribe
                action_chain:
                  - name: encoder
                    type: write
                    byte: [0x11, 0x03, 0xaa, 0x16, 0x0a, 0x76]
                  - name: encoder
                    type: read
                    byte: [0x11, 0x03, pos_steer, big, 0x0a, 0x76]
              - name: cmd_vel
                type: subscribe
                wheel_model: diff
                wheel_track: 0.208 #0.416
                wheel_ratio: 23333.3
                action_chain:
                  - name: steer
                    type: write
                    byte: [0x05, 0x10, 0x00, 0x44, 0x00, 0x04, 0x08, 0xff, 0xff, 0x00, 0x00, pos_steer_high, big, pos_steer_low, big, crc16, little]
                  - name: left
                    type: write
                    byte: [0x02, 0x06, 0x00, 0x43, vel_left, big, crc16, little]
                  - name: right
                    type: write
                    byte: [0x03, 0x06, 0x00, 0x43, vel_right, big, crc16, little]
                  - name: steer
                    type: read
                    byte: [0x05, 0x10, 0x00, 0x44, 0x00, 0x04, crc16, little]
                    except: [0x05, 0x90, errno, crc16, little]
                  - name: left
                    type: read
                    byte: [0x02, 0x06, 0x00, 0x43, vel_left, big, crc16, little]
                    except: [0x02, 0x86, errno, crc16, little]
                  - name: right
                    type: read
                    byte: [0x03, 0x06, 0x00, 0x43, vel_right, big, crc16, little]
                    except: [0x03, 0x86, errno, crc16, little]
              - name: odom
                type: publish
                freq: 50.0
                action_chain:
                  - name: steer
                    type: write
                    byte: [0x05, 0x03, 0x00, 0x24, 0x00, 0x02, 0x85, 0x84]
                  - name: left
                    type: write
                    byte: [0x02, 0x03, 0x00, 0x22, 0x00, 0x01, 0x24, 0x33]
                  - name: right
                    type: write
                    byte: [0x03, 0x03, 0x00, 0x22, 0x00, 0x01, 0x25, 0xe2]
                  - name: steer
                    type: read
                    byte: [0x05, 0x03, 0x02, pos_steer, big, crc16, little]
                    except: [0x05, 0x83, errno, crc16, little]
                  - name: left
                    type: read
                    byte: [0x02, 0x03, 0x02, vel_left, big, crc16, little]
                    except: [0x02, 0x83, errno, crc16, little]
                  - name: right
                    type: read
                    byte: [0x03, 0x03, 0x02, vel_right, big, crc16, little]
                    except: [0x03, 0x83, errno, crc16, little]
              - name: diagnostics
                type: publish
        </rosparam>
    </node>
</launch>
