<?xml version="1.0"?>
<launch>
    <arg name="plc_port" default="/dev/ttyUSB0"/>
    <arg name="wheel_seperation" default="0.385"/>
    <arg name="wheel_ratio" default="3978873.0"/>
    <node name="rosbridge_plc" pkg="rosbridge_driver" type="rosbridge_driver" output="screen">
        <param name="plc_port" value="$(arg plc_port)"/>
        <param name="wheel_seperation" value="$(arg wheel_seperation)"/>
        <param name="wheel_ratio" value="$(arg wheel_ratio)"/>
        <param name="encoder_resolution" value="10000.0"/>
        <param name="gear_ratio" value="25.0"/>
        <param name="diameter" value="0.2"/>
        <param name="cmd_vel_timeout" value="0.5"/>
        <rosparam>
            port_chain:
              - name: plc_port
                type: serial
                serial_baud: 115200
                serial_stop: 1
                timeout: 0.5
                respawn: false

            topic_chain:
              - name: cmd_vel
                type: subscribe
                freq: 50.0
                freq_overflow: false
                wheel_model: diff
                wheel_phase_reverse: true
                action_chain:
                  - name: plc_port
                    type: write
                    byte: [0xf1, 0x10, 0x01, 0x5e, 0x00, 0x04, 0x08, vel_left, big32, big32, big32, vel_right, big32, big32, big32,crc16, little]
                  - name: plc_port
                    type: read
                    byte: [0xf1, 0x10, 0x01, 0x5e, 0x00, 0x08, crc16, little]


              - name: waypoint_user_pub
                type: subscribe
                freq: 5.0

              - name: pub_lift_up
                type: event
                up_vel: 2500000    
                action_chain:
                  - name: plc_port
                    type: write
                    byte: [0xf1, 0x10, 0x01, 0x62, 0x00, 0x02, 0x04, up_vel, big32, big32, big32, crc16, little]
                  - name: plc_port
                    type: read
                    byte: [0xf1, 0x10, 0x01, 0x62, 0x00, 0x04, crc16, little]

              - name: pub_lift_down
                type: event
                down_vel: -2500000
                action_chain:
                  - name: plc_port
                    type: write
                    byte: [0xf1, 0x10, 0x01, 0x62, 0x00, 0x02, 0x04, down_vel, big32, big32, big32, crc16, little]
                  - name: plc_port
                    type: read
                    byte: [0xf1, 0x10, 0x01, 0x62, 0x00, 0x04, crc16, little]

            ### lift_status: 2-bottom 0-moving status 1-top ###
              - name: read_lift_up
                type: event
                action_chain:
                  - name: plc_port
                    type: write
                    byte: [0xf1, 0x03, 0x01, 0xcc, 0x00, 0x01, crc16, little]
                  - name: plc_port
                    type: read
                    byte: [0xf1, 0x03, 0x02, lift_status, big, crc16, little]
                echo: [lift_status]
              - name: read_lift_down
                type: event
                action_chain:
                  - name: plc_port
                    type: write
                    byte: [0xf1, 0x03, 0x01, 0xcc, 0x00, 0x01, crc16, little]
                  - name: plc_port
                    type: read
                    byte: [0xf1, 0x03, 0x02, lift_status, big, crc16, little]
                echo: [lift_status]
                    

<!--               - name: odom
                type: publish
                freq: 50.0
                odom_yaw_covariance: 0.8
                action_chain:
                  - name: plc_port
                    type: write
                    byte: [0xf1, 0x03, 0x01, 0x7c, 0x00, 0x04, crc16, little]
                  - name: plc_port
                    type: read
                    byte: [0xf1, 0x03, 0x08, vel_left, big32, big32, big32, vel_right, big32, big32, big32, crc16, little] -->
  
              - name: odom
                type: publish
                freq: 50.0
                use_encoder: true
                odom_yaw_covariance: 0.8
                action_chain:
                  - name: plc_port
                    type: write
                    byte: [0xf1, 0x03, 0x01, 0x9a, 0x00, 0x04, crc16, little]
                  - name: plc_port
                    type: read
                    byte: [0xf1, 0x03, 0x08, left_encoder, big32, big32, big32, right_encoder, big32, big32, big32, crc16, little]
        </rosparam>
    </node>
</launch>
