<?xml version="1.0"?>
<launch>
    <node name="rosbridge_aqmd" pkg="rosbridge_driver" type="rosbridge_driver" output="screen">
        <rosparam>
            port_chain:
              - name: ttyUSB0
                type: serial
                serial_port: /dev/usb_left
            topic_chain:
              - name: waypoint_user_pub
                type: subscribe
              - name: normal_stop
                type: event
                action_chain:
                  - name: ttyUSB0
                    type: write
                    byte: [0x02, 0x06, 0x00, 0x40, 0x00, 0x00, crc16, little]
                  - name: ttyUSB0
                    type: read
                    byte: [0x02, 0x06, 0x00, 0x40, 0x00, 0x00, crc16, little]
                  - name: ttyUSB0
                    type: write
                    byte: [0x03, 0x06, 0x00, 0x40, 0x00, 0x00, crc16, little]
                  - name: ttyUSB0
                    type: read
                    byte: [0x03, 0x06, 0x00, 0x40, 0x00, 0x00, crc16, little]
              - name: emergency_stop
                type: event
                action_chain:
                  - name: ttyUSB0
                    type: write
                    byte: [0x02, 0x06, 0x00, 0x40, 0x00, 0x01, crc16, little]
                  - name: ttyUSB0
                    type: read
                    byte: [0x02, 0x06, 0x00, 0x40, 0x00, 0x01, crc16, little]
                  - name: ttyUSB0
                    type: write
                    byte: [0x03, 0x06, 0x00, 0x40, 0x00, 0x01, crc16, little]
                  - name: ttyUSB0
                    type: read
                    byte: [0x03, 0x06, 0x00, 0x40, 0x00, 0x01, crc16, little]
              - name: free_stop
                type: event
                action_chain:
                  - name: ttyUSB0
                    type: write
                    byte: [0x02, 0x06, 0x00, 0x40, 0x00, 0x02, crc16, little]
                  - name: ttyUSB0
                    type: read
                    byte: [0x02, 0x06, 0x00, 0x40, 0x00, 0x02, crc16, little]
                  - name: ttyUSB0
                    type: write
                    byte: [0x03, 0x06, 0x00, 0x40, 0x00, 0x02, crc16, little]
                  - name: ttyUSB0
                    type: read
                    byte: [0x03, 0x06, 0x00, 0x40, 0x00, 0x02, crc16, little]
              - name: cmd_vel
                type: subscribe
                wheel_model: diff
                wheel_track: 0.2085
                wheel_ratio: 17721.0
                action_chain:
                  - name: ttyUSB0
                    type: write
                    byte: [0x02, 0x06, 0x00, 0x43, vel_left, big, crc16, little]
                  - name: ttyUSB0
                    type: read
                    byte: [0x02, 0x06, 0x00, 0x43, vel_left, big, crc16, little]
                    except: [0x02, 0x86, errno, crc16, little]
                  - name: ttyUSB0
                    type: write
                    byte: [0x03, 0x06, 0x00, 0x43, vel_right, big, crc16, little]
                  - name: ttyUSB0
                    type: read
                    byte: [0x03, 0x06, 0x00, 0x43, vel_right, big, crc16, little]
                    except: [0x03, 0x86, errno, crc16, little]
              - name: odom
                type: publish
                freq: 50.0
                action_chain:
                  - name: ttyUSB0
                    type: write
                    byte: [0x02, 0x03, 0x00, 0x22, 0x00, 0x01, 0x24, 0x33]
                  - name: ttyUSB0
                    type: read
                    byte: [0x02, 0x03, 0x02, vel_left, big, crc16, little]
                    except: [0x02, 0x83, errno, crc16, little]
                  - name: ttyUSB0
                    type: write
                    byte: [0x03, 0x03, 0x00, 0x22, 0x00, 0x01, 0x25, 0xe2]
                  - name: ttyUSB0
                    type: read
                    byte: [0x03, 0x03, 0x02, vel_right, big, crc16, little]
                    except: [0x03, 0x83, errno, crc16, little]
              - name: diagnostics
                type: publish
        </rosparam>
    </node>
</launch>
