<?xml version="1.0"?>
<launch>
    <node name="rosbridge_stm32wubing" pkg="rosbridge_driver" type="rosbridge_driver" output="screen">
        <remap from="imu" to="imu_data"/>
        <rosparam>
            port_chain:
              - name: stm32wubing
                type: socket
                ip_address: 192.168.0.30
                ip_port: 9527
                action_chain:
                  - name: stm32wubing
                    type: write
                    byte: [0x58, 0x58, 0x58, 0x58, 0x58]
                    lock: false
            topic_chain:
              - name: cmd_vel
                type: subscribe
                freq: 5.0
                freq_underflow: false
                vel_left: 0
                vel_right: 0
                wheel_model: diff
                wheel_track: 0.2085
                wheel_ratio: 17721.0
                wheel_reverse: false
                action_chain:
                  - name: stm32wubing
                    type: write
                    byte: [0x55, 0x33, 0x1c, 0x00, vel_left, little, vel_right, little, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0xff, 0x00, 0x00, 0x00, sum8, 0xaa]
                    lock: false
                    checksum_bias: 4
              - name: odom
                type: publish
                freq: 20.0
                action_chain:
                  - name: stm32wubing
                    type: read
                    byte: [0x55, 0x44, 0x62, 0x00, pos_left, double, little, little, pos_right, double, little, little, vel_left, little, vel_right, little, voltage_left, little, voltage_right, little, motor1status, motor2status, motor1circuit, motor2circuit, system_voltage, little, system_circuit, little, us1, us2, us3, us4, us5, us6, us7, us8, imu_w, double, little, little, imu_x, double, little, little, imu_y, double, little, little, imu_z, double, little, little, imu_yaw, double, little, little, imu_roll, double, little, little, imu_pitch, double, little, little, gyr_x, little, gyr_y, little, gyr_z, little, acc_x, little, acc_y, little, acc_z, little, mag_x, little, mag_y, little, mag_z, little, imu_temperature, little, imu_pressure, little, js1, js2, js3, js4, js5, js6, js7, js8, other_cmd, other_1, other_2, other_3, other_4, other_5, other_6, other_7, sum8, 0xaa]
                    except: [0x35, 0x38, 0x35, 0x38, 0x35, 0x38, 0x35, 0x38]
                    checksum_bias: 4
              - name: diagnostics
                type: publish
        </rosparam>
    </node>
</launch>
