<?xml version="1.0"?>
<launch>
    <arg name="plc_port" default="/dev/usb_bottom"/>
    <node name="rosbridge_plc" pkg="rosbridge_driver" type="rosbridge_driver" output="screen">
        <param name="plc_port" value="$(arg plc_port)"/>
        <rosparam>
            port_chain:
              - name: plc_port
                type: serial
                serial_stop: 1
                timeout: 0.5
            topic_chain:
              - name: waypoint_user_pub
                type: subscribe
                <!-- freq: 1.0 --><!--uncomment if pub automatic-->
              - name: pubsuber_poll
                type: event
                <!-- freq: 0.5 --><!--uncomment if pub automatic-->
                <!-- roar: [addr_poll]
                addr_poll: 0x01 -->
                <!-- lock: false -->
                action_chain:
                  - name: plc_port
                    type: write
                    byte: [0x01, 0x03, 0x00, 0x00, 0x00, 0x09, crc16, little]
                    <!-- byte: [0x06, 0x03, 0x00, 0x63, 0x00, 0x01, crc16, little] -->
                  - name: plc_port
                    type: read
                    byte: [0x01, 0x03, 0x12, data1, big, data2, big, data3, big, data4, big, data5, big, data6, big, data7, big, data8, big, data9, big, crc16, little]
                    <!-- byte: [0x06, 0x03, 0x02, data, big, crc16, little] -->
                echo: [data1]
                data1: 0x00
                data2: 0x00
                data3: 0x00
                data4: 0x00
                data5: 0x00
                data6: 0x00
                data7: 0x00
                data8: 0x00
                data9: 0x00
              - name: diagnostics
                type: publish
            <!-- port_chain:
              - name: plc_port
                type: serial
                serial_baud: 115200
                serial_parity: 'N'
                serial_stop: 1
                timeout: 0.5
            topic_chain:
              - name: waypoint_user_pub
                type: subscribe
              - name: pubsuber_poll
                type: event
                freq: 0.5
                roar: [addr_poll]
                addr_poll: 0x01
                action_chain:
                  - name: plc_port
                    type: write
                    byte: [addr_poll, 0x03, 0x00, 0x63, 0x00, 0x01, crc16, little]
                  - name: plc_port
                    type: read
                    byte: [addr_poll, 0x03, 0x02, data, big, crc16, little]
                echo: [addr_poll, data]
                data: 0x00
              - name: diagnostics
                type: publish -->
        </rosparam>
    </node>
</launch>
