<?xml version="1.0"?>
<launch>
    <arg name="sonar_port_12oc" default="/dev/ttyUSB0"/>
    <arg name="sonar_port_11oc" default="/dev/ttyUSB1"/>
    <arg name="sonar_port_8oc" default="/dev/ttyUSB2"/>
    <arg name="sonar_port_6oc" default="/dev/ttyUSB3"/>
    <arg name="sonar_port_4oc" default="/dev/ttyUSB4"/>
    <arg name="sonar_port_1oc" default="/dev/ttyUSB5"/>
    <node name="rosbridge_sonar" pkg="rosbridge_driver" type="rosbridge_driver" output="screen">
        <param name="sonar_port_12oc" value="$(arg sonar_port_12oc)"/>
        <param name="sonar_port_11oc" value="$(arg sonar_port_11oc)"/>
        <param name="sonar_port_8oc" value="$(arg sonar_port_8oc)"/>
        <param name="sonar_port_6oc" value="$(arg sonar_port_6oc)"/>
        <param name="sonar_port_4oc" value="$(arg sonar_port_4oc)"/>
        <param name="sonar_port_1oc" value="$(arg sonar_port_1oc)"/>
        <rosparam>
            port_chain:
              - name: sonar_port_12oc
                type: serial
                serial_baud: 9600
                serial_stop: 1
                timeout: 0.2
              - name: sonar_port_11oc
                type: serial
                serial_baud: 9600
                serial_stop: 1
                timeout: 0.2
              - name: sonar_port_8oc
                type: serial
                serial_baud: 9600
                serial_stop: 1
                timeout: 0.2
              - name: sonar_port_6oc
                type: serial
                serial_baud: 9600
                serial_stop: 1
                timeout: 0.2
              - name: sonar_port_4oc
                type: serial
                serial_baud: 9600
                serial_stop: 1
                timeout: 0.2
              - name: sonar_port_1oc
                type: serial
                serial_baud: 9600
                serial_stop: 1
                timeout: 0.2
            topic_chain:
              - name: sonar
                type: publish
                freq: 10.0
                field_of_view: 0.5
                max_range: 2.0
                echo: [sonar_12oc, sonar_11oc, sonar_8oc, sonar_6oc, sonar_4oc, sonar_1oc]
                frame_id: [base_sonar_12oc, base_sonar_11oc, base_sonar_8oc, base_sonar_6oc, base_sonar_4oc, base_sonar_1oc]
                action_chain:
                  - name: sonar_port_12oc
                    type: write
                    byte: [0x55]
                  - name: sonar_port_11oc
                    type: write
                    byte: [0x55]
                  - name: sonar_port_8oc
                    type: write
                    byte: [0x55]
                  - name: sonar_port_6oc
                    type: write
                    byte: [0x55]
                  - name: sonar_port_4oc
                    type: write
                    byte: [0x55]
                  - name: sonar_port_1oc
                    type: write
                    byte: [0x55]
                  - name: sonar_port_12oc
                    type: read
                    byte: [sonar_12oc, big]
                  - name: sonar_port_11oc
                    type: read
                    byte: [sonar_11oc, big]
                  - name: sonar_port_8oc
                    type: read
                    byte: [sonar_8oc, big]
                  - name: sonar_port_6oc
                    type: read
                    byte: [sonar_6oc, big]
                  - name: sonar_port_4oc
                    type: read
                    byte: [sonar_4oc, big]
                  - name: sonar_port_1oc
                    type: read
                    byte: [sonar_1oc, big]
              - name: diagnostics
                type: publish
        </rosparam>
    </node>
</launch>
