<?xml version="1.0"?>
<launch>
    <include file="$(find task_manager)/launch/task_provider.launch"/>
    <include file="$(find task_manager)/launch/tasks_manager.launch"/>
    <arg name="poll_port" default="/dev/usb_top"/>
    <node name="rosbridge_drive_plc" pkg="rosbridge_driver" type="rosbridge_driver" output="screen">
        <param name="poll_port" value="$(arg poll_port)"/>
        <rosparam>
            <!-- port_chain:
              - name: poll_port
                type: serial
                serial_baud: 115200
                serial_parity: 'N'
                serial_stop: 1
                timeout: 0.5
            topic_chain:
              - name: waypoint_user_pub
                type: subscribe -->
                 <!-- freq: 0.5 -->
              <!-- - name: pubsuber_poll
                type: event -->
                <!-- freq: 0.5 -->
                <!-- roar: [addr_poll]
                addr_poll: 0x01 -->
                <!-- lock: false -->
                <!-- action_chain:
                  - name: poll_port
                    type: write
                    byte: [0x06, 0x03, 0x00, 0x63, 0x00, 0x01, crc16, little]
                  - name: poll_port
                    type: read
                    byte: [0x06, 0x03, 0x02, data, big, crc16, little]
                echo: [data]
                data: 0x00
              - name: diagnostics
                type: publish -->
            port_chain:
              - name: poll_port
                type: serial
                serial_baud: 115200
                serial_parity: 'N'
                serial_stop: 1
                timeout: 0.1
            topic_chain:
              - name: waypoint_user_pub
                type: subscribe
                freq: 20.0
              - name: poll
                type: event
                freq: 4.0
                poll: [addr]
                poll_max: [3]
                poll_min: [1]
                addr: 0x01
                action_chain:
                  - name: poll_port
                    type: write
                    byte: [addr, 0x03, 0x00, 0x08, 0x00, 0x02, crc16, little]
                  - name: poll_port
                    type: read
                    byte: [addr, 0x03, 0x04, data1, big, data2, big, crc16, little]
                echo: [addr,data1,data2]
                data1: 0x00
                data2: 0x00
              - name: light
                type: event
                roar: [addr, status]
                addr: 0x01
                status: 0x00
                action_chain:
                  - name: poll_port
                    type: write
                    byte: [addr, 0x10, 0x00, 0x03, 0x00, 0x01, 0x02, status, big, crc16, little]
                  - name: poll_port
                    type: read
                    byte: [addr, 0x10, 0x00, 0x03, 0x00, 0x01, crc16, little]
              - name: diagnostics
                type: publish
        </rosparam>
    </node>
</launch>
