<?xml version="1.0"?>
<launch>
    <arg name="pub_name" default="imu_data"/>
    <arg name="imu_port" default="/dev/ttyUSB0"/>
    <arg name="imu_frame_id" default="base_imu"/>
    <node name="$(anon rosbridge_imu)" pkg="rosbridge_driver" type="rosbridge_driver" output="screen">
        <remap from="imu" to="$(arg pub_name)"/>
        <param name="imu_port" value="$(arg imu_port)"/>
        <param name="imu_config_port" value="$(arg imu_port)"/>
        <param name="imu_frame_id" value="$(arg imu_frame_id)"/>
        <rosparam>
            port_chain:
              - name: imu_config_port
                type: serial
                serial_baud: 9600
                action_chain:
                  - name: imu_config_port
                    type: write
                    byte: [0xff, 0xaa, 0x04, 0x06, 0x00] #baud
                    lock: false
                  - name: imu_config_port
                    type: write
                    byte: [0xff, 0xaa, 0x00, 0x00, 0x00] #save
                    lock: false
              - name: imu_port
                type: serial
                action_chain:
                  - name: imu_port
                    type: write
                    byte: [0xff, 0xaa, 0x24, 0x01, 0x00] #axis
                    lock: false
                  - name: imu_port
                    type: write
                    byte: [0xff, 0xaa, 0x02, 0x1e, 0x00] #echo
                    lock: false
                  - name: imu_port
                    type: write
                    byte: [0xff, 0xaa, 0x03, 0x08, 0x00] #freq
                    lock: false
            topic_chain:
              - name: odom
                type: publish
                freq: 60.0
                pub_odom: false
                pub_imu: true
                imu_angle_ratio: 0.00009587
                imu_gyr_ratio: 0.001065
                imu_acc_ratio: 0.004785
                imu_temperature_ratio_a: 0.002941
                imu_temperature_ratio_b: 36.53
                action_chain:
                  - name: imu_port
                    type: read
                    byte: [0x55, 0x51, int_acc_x, little, int_acc_y, little, int_acc_z, little, int_temperature, little, sum81, 0x55, 0x52, int_gyr_x, little, int_gyr_y, little, int_gyr_z, little, int_temperature, little, sum82, 0x55, 0x53, int_roll, little, int_pitch, little, int_yaw, little, int_temperature, little, sum83, 0x55, 0x54, int_mag_x, little, int_mag_y, little, int_mag_z, little, int_temperature, little, sum84]
                    lock: true
              - name: waypoint_user_pub
                type: subscribe
              - name: cali_acc
                type: event
                action_chain:
                  - name: imu_port
                    type: write
                    byte: [0xff, 0xaa, 0x01, 0x01, 0x00] #cali_acc
                    lock: false
                  - name: imu_port
                    type: timer
                    time_out: 1.0
                  - name: imu_port
                    type: write
                    byte: [0xff, 0xaa, 0x01, 0x00, 0x00] #cali_rtn
                    lock: false
                  - name: imu_port
                    type: timer
                    time_out: 0.1
              - name: cali_set
                type: event
                roar: [status]
                roar_redo: false
                status: 0 # 0 for on, 1 for off
                action_chain:
                  - name: imu_port
                    type: write
                    byte: [0xff, 0xaa, 0x63, status, 0x00]
                    lock: false
              - name: diagnostics
                type: publish
        </rosparam>
    </node>
</launch>
