<?xml version="1.0"?>
<launch>
    <node name="scan_filter" pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen">
        <remap from="scan" to="scan"/>
        <remap from="scan_filtered" to="scan_filtered"/>
        <rosparam>
            scan_filter_chain:
            - name: laser_median_filter
              type: laser_filters/LaserArrayFilter
              params: 
                range_filter_chain:
                  - name: median_5
                    type: MultiChannelMedianFilterFloat 
                    params:
                      number_of_observations: 5
                      unused: 10
                intensity_filter_chain:
                  - name: median_5
                    type: MultiChannelMedianFilterFloat 
                    params:
                      number_of_observations: 5
                      unused: 10
            - name: range
              type: laser_filters/LaserScanRangeFilter
              params:
                lower_threshold: 0.1
                upper_threshold: .inf
            - name: dark_shadows
              type: laser_filters/LaserScanIntensityFilter
              params: 
                lower_threshold: 50
                upper_threshold: 1000
                disp_histogram: 0
            - name: shadows
              type: laser_filters/ScanShadowsFilter  
              params:
                min_angle: 10
                max_angle: 170 #260
                neighbors: 20 #10
                window: 1
        </rosparam>
    </node>
</launch>
