<?xml version="1.0"?>
<launch>
    <node name="scan_rectifier" pkg="scan_rectifier" type="scan_rectifier" output="screen">
        <!-- <remap from="scan_input" to="scan_unified"/> -->
        <remap from="scan_input" to="scan_filtered"/>
        <remap from="scan_output" to="scan_rectified"/>
        <rosparam>
            max_range: 20.0
        </rosparam>
    </node>
</launch>
