<?xml version="1.0"?>
<launch>
	<arg name="scan_port" default="/dev/usb_intern43"/>
    <node name="cob_sick_s300" pkg="cob_sick_s300" type="cob_sick_s300" output="screen">
        <param name="port" value="$(arg scan_port)" />
        <param name="baud" value="500000" />
        <param name="scan_duration" value="0.025" />
        <param name="scan_cycle_time" value="0.04" />
        <param name="frame_id" value="/base_laser" />
        <param name="publish_frequency" value="30" />
        <!--<rosparam command="load" file="$(find cob_sick_s300)/ros/test/dummy_config.yaml"/>-->
    </node>
</launch>
