<?xml version="1.0"?>
<launch>
    <node name="urg_node" pkg="urg_node" type="urg_node" output="screen">
        <rosparam>
            ip_address: 192.168.0.10
            ip_port: 10940
            frame_id: base_laser
            calibrate_time: false
            time_offset: 0.0
            publish_intensity: false
            publish_multiecho: false
            angle_min: -1.57 
            angle_max: 1.57 
            cluster: 1
            skip: 0
        </rosparam>
    </node>
</launch>
