<?xml version="1.0"?>
<launch>
    <node name="slam_gmapping" pkg="gmapping" type="slam_gmapping" output="screen">
        <remap from="scan" to="scan_rectified"/>
        <rosparam>
            maxUrange: 19.9
            minimumScore: 300
            xmin: -20.0
            ymin: -20.0
            xmax: 20.0
            ymax: 20.0
            delta: 0.05
            transform_publish_period: 0.05
            maxRange: 20.0
        </rosparam>
    </node>
</launch>
