<?xml version="1.0"?>
<launch>
    <node name="system_shell" pkg="system_shell" type="system_shell" output="screen">
        <rosparam>
            time_duration: 7.0
            #init_cmd: ll
        </rosparam>
    </node>

    <node name="tf_base_footprint" pkg="tf_broadcaster" type="tf_broadcaster" output="screen">
        <rosparam>
            frame_id: base_footprint
            z: 0.035
        </rosparam>
    </node>

    <node name="tf_base_laser" pkg="tf_broadcaster" type="tf_broadcaster" output="screen">
        <rosparam>
            child_frame_id: base_laser
            x: 0.23
            z: 0.31
        </rosparam>
    </node>

    <node name="tf_base_imu" pkg="tf_broadcaster" type="tf_broadcaster" output="screen">
        <rosparam>
            child_frame_id: base_imu
            x: -0.12
            z: 0.88
        </rosparam>
    </node>
 
    <node name="rosbridge_stm32wangke" pkg="rosbridge_driver" type="rosbridge_driver" output="screen">
        <remap from="imu" to="imu_data"/>
        <rosparam>
            port_chain:
              - name: stm32wangke
                type: serial
                serial_port: /dev/ttySx
            topic_chain:
              - name: cmd_vel
                type: subscribe
                freq: 5.0
                stop_mode: free_stop
                wheel_model: diff
                wheel_track: 0.2201
                wheel_ratio: 23333.0
                wheel_reverse: false
                action_chain:
                  - name: stm32wangke
                    type: write
                    byte: [0xaa, 0x55, 0x01, 0x00, 0x04, 0x02, 0x11, vel_left, big, vel_right, big, crc16, big]
                  - name: stm32wangke
                    type: read
                    byte: [0xaa, 0x55, 0x01, 0x00, 0x02, 0x02, 0x11, errmodel, errcode, crc16, big]
                    except: [0xaa, 0x55, 0x01, 0x00, errlen, 0x02, 0x11, errmodel, errcode, crc16, big]
              - name: odom
                type: publish
                freq: 20.0
                pub_imu: true
                imu_reverse: true
                imu_angle_ratio: 0.00009587
                action_chain:
                  - name: stm32wangke
                    type: write
                    # byte: [0xaa, 0x55, 0x01, 0x00, 0x00, 0x02, 0x43, crc16, big]
                    byte: [0xaa, 0x55, 0x01, 0x00, 0x00, 0xf0, 0x1a, crc16, big]
                  - name: stm32wangke
                    type: read
                    # byte: [0xaa, 0x55, 0x01, 0x00, 0x06, 0x02, 0x43, errmodel, errcode, vel_left, big, vel_right, big, crc16, big]
                    # except: [0xaa, 0x55, 0x01, 0x00, errlen, 0x02, 0x43, errmodel, errcode, crc16, big]
                    byte: [0xaa, 0x55, 0x01, 0x00, 0x0e, 0xf0, 0x1a, errmodel, errcode, vel_left, big, vel_right, big, imu_delta, little, int_roll, little, int_yaw, little, imu_status, little, crc16, big]
                    except: [0xaa, 0x55, 0x01, 0x00, errlen, 0xf0, 0x1a, errmodel, errcode, crc16, big]
              - name: diagnostics
                type: publish
        </rosparam>
    </node>

    <node name="urg_node" pkg="urg_node" type="urg_node" output="screen">
        <rosparam>
            ip_address: 192.168.0.10
            frame_id: base_laser
            publish_multiecho: false
            angle_min: -1.57
            angle_max: 1.57
            skip: 0
        </rosparam>
    </node>
  
    <node name="scan_filter" pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen">
        <remap from="scan" to="scan"/>
        <remap from="scan_filtered" to="scan_filtered"/>
        <rosparam>
            scan_filter_chain:
            - type: laser_filters/LaserArrayFilter
              name: laser_median_filter
              params: 
                range_filter_chain:
                  - name: median_5
                    type: filters/MultiChannelMedianFilterFloat 
                    params:
                      number_of_observations: 5
                      unused: 10
                intensity_filter_chain:
                  - name: median_5
                    type: filters/MultiChannelMedianFilterFloat 
                    params:
                      number_of_observations: 5
                      unused: 10
        </rosparam>
    </node>

    <node name="scan_rectifier" pkg="scan_rectifier" type="scan_rectifier" output="screen">
        <remap from="scan_input" to="scan_filtered"/>
        <remap from="scan_output" to="scan_rectified"/>
        <rosparam>
            max_range: 20.0
        </rosparam>
    </node>

    <node name="robot_pose_ekf" pkg="robot_pose_ekf" type="robot_pose_ekf">
        <rosparam>
            output_frame: odom
            base_footprint_frame: base_footprint
            freq: 30.0
            sensor_timeout: 1.0
            odom_used: true
            imu_used: true
            vo_used: false
        </rosparam>
    </node>

    <node name="robot_pose_publisher" pkg="robot_pose_publisher" type="robot_pose_publisher" output="screen"/>
</launch>