<?xml version="1.0"?>
<launch>
    <include file="$(find bringup)/launch/bringup-dbparam.launch"/>

    <include file="$(find bringup)/launch/bringup-navi.launch" >
        <arg name="footprint" value="[[0.27, -0.27], [0.27, 0.27], [-0.27, 0.27], [-0.27, -0.27]]"/>
    </include>

    <node name="base_footprint" pkg="tf_broadcaster" type="tf_broadcaster" output="screen">
        <rosparam>
            frame_id: base_footprint
            z: 0.1
        </rosparam>
    </node>

    <node name ="map_transport_node" pkg="map_transport" type="map_transport_node" output="screen"/>

    <!-- <node name="rosbridge_shell" pkg="rosbridge_shell" type="rosbridge_shell" output="screen">
        <rosparam if="$(optenv ROS_USER_VALID false)">
            init_cmd: navigation
        </rosparam>
    </node> -->

    <arg name="scan_topic"     default="/scan_rectified"/>
    <arg name="initial_pose_x" default="0.0"/>
    <arg name="initial_pose_y" default="0.0"/>
    <arg name="initial_pose_a" default="0.0"/>
    <node pkg="amcl" type="amcl" name="amcl">
        <remap from="scan" to="$(arg scan_topic)"/>
        <rosparam>
            update_min_d: 0.2
            update_min_a: 0.2
            use_map_topic: true
            laser_model_type: likelihood_field
            odom_model_type: diff-corrected
            odom_alpha1: 0.005
            odom_alpha2: 0.005
            odom_alpha3: 0.005
            odom_alpha4: 0.005
            odom_alpha5: 0.005
        </rosparam>
    </node>
</launch>
