<launch>
  <node pkg="ultrasonic_speed_filter" type="ultrasonic_speed_filter" name="ultrasonic_speed_filter" output="screen">

    <!-- The node takes in input the ranges measured by Ultrasonic Bumper Board and the twist message
         realted to robot speeds (forward speed and rotation speed) and reduces the forward speed
         according to Stop and Secure range

         RANGE:          Stop Range_______________Half Range__________________Secure range
         OUTPUT SPEED:  Robot stopped            0.5*Fw_speed                 Full Fw_speed

         Default configuration stops the robot for ranges below 10 cm and emits full speed for
         ranges over 1 meter -->

     <!-- Stop range (m) [Default: 0.20] -->
     <param name="stop_range" value="0.5"/>
     
     <!-- Secure range (m) [Default: 1.0] -->
     <param name="secure_range" value="0.75"/>
   </node>   
</launch>
