<?xml version="1.0"?>
<launch>
    <include file="$(find bringup)/launch/bringup-base.launch"/>

    <node name="tf_base_footprint" pkg="tf_broadcaster" type="tf_broadcaster" output="screen">
        <rosparam>
            frame_id: base_footprint
            z: 0.080
        </rosparam>
    </node>

    <node name="tf_base_laser" pkg="tf_broadcaster" type="tf_broadcaster" output="screen">
        <rosparam>
            child_frame_id: base_laser
            x: 0.285
            z: 0.155
        </rosparam>
    </node>

    <node name="tf_base_imu" pkg="tf_broadcaster" type="tf_broadcaster" output="screen">
        <rosparam>
            child_frame_id: base_imu
            x: 0.160
            y: -0.135
            z: 0.255
        </rosparam>
    </node>

    <include file="$(find bringup)/launch/rosbridge_drive_aqmd2s.launch">
        <arg name="drive_port_left" value="/dev/usb_left4"/>
        <arg name="drive_port_right" value="/dev/usb_left1"/>
        <arg name="wheel_seperation" value="0.433"/>
        <arg name="wheel_ratio" value="23333.3"/>
    </include>

    <include file="$(find bringup)/launch/rosbridge_imu_jy901.launch">
        <arg name="imu_port" value="/dev/usb_left2"/>
    </include>

    <include file="$(find bringup)/launch/rosbridge_plc_wangjin.launch">
        <arg name="plc_port" value="/dev/usb_left3"/>
    </include>

    <node name="sick_tim" pkg="sick_tim" type="sick_tim551_2050001" output="screen">
        <rosparam>
#            min_ang: -2.1
#            max_ang: 2.1
            intensity: False
            frame_id: base_laser
            range_max: 10.0
            hostname: 192.168.0.10
        </rosparam>
    </node>
  
    <node name="scan_filter" pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen">
        <remap from="scan" to="scan"/>
        <remap from="scan_filtered" to="scan_filtered"/>
        <rosparam>
            scan_filter_chain:
            - type: laser_filters/LaserArrayFilter
              name: laser_median_filter
              params: 
                range_filter_chain:
                  - name: median_5
                    type: filters/MultiChannelMedianFilterFloat 
                    params:
                      number_of_observations: 5
                      unused: 10
                intensity_filter_chain:
                  - name: median_5
                    type: filters/MultiChannelMedianFilterFloat 
                    params:
                      number_of_observations: 5
                      unused: 10
        </rosparam>
    </node>

    <node name="scan_rectifier" pkg="scan_rectifier" type="scan_rectifier" output="screen">
        <remap from="scan_input" to="scan_filtered"/>
        <remap from="scan_output" to="scan_rectified"/>
        <rosparam>
            max_range: 20.0
        </rosparam>
    </node>

    <node name="robot_pose_ekf" pkg="robot_pose_ekf" type="robot_pose_ekf">
        <rosparam>
            output_frame: odom
            base_footprint_frame: base_footprint
            freq: 30.0
            sensor_timeout: 1.0
            odom_used: true
            imu_used: true
            vo_used: false
        </rosparam>
    </node>
    
    <node name="robot_pose_publisher" pkg="robot_pose_publisher" type="robot_pose_publisher" output="screen"/>

    <!-- Use this to debug aggregator node in GDB -->
    <!-- launch-prefix="xterm -e gdb -args"  -->
    <node name="diagnostic_aggregator" pkg="diagnostic_aggregator" type="aggregator_node" args="CPP" output="screen">
        <rosparam>
analyzers:
  device:
    type: diagnostic_aggregator/AnalyzerGroup
    path: device
    analyzers:
      odom_left:
        type: diagnostic_aggregator/GenericAnalyzer
        path: odom_l
        timeout: 5.0
        find_and_remove_prefix: left
        num_items: 2
      odom_right:
        type: diagnostic_aggregator/GenericAnalyzer
        path: odom_r
        timeout: 5.0
        find_and_remove_prefix: right
        num_items: 2
      joystick:
        type: diagnostic_aggregator/GenericAnalyzer
        path: 'joystick'
        timeout: 5.0
        startswith: ['Battery', 'Charging State', 'Connection', 'ps3_joy']
        remove_prefix: 'ps3_joy'
        </rosparam>
    </node>
</launch>