<?xml version="1.0"?>
<launch>
    <include file="$(find bringup)/launch/bringup-base.launch"/>

    <node name="tf_base_footprint" pkg="tf_broadcaster" type="tf_broadcaster" output="screen">
        <rosparam>
            frame_id: base_footprint
            z: 0.15
        </rosparam>
    </node>

    <node name="tf_base_laser_front" pkg="tf_broadcaster" type="tf_broadcaster" output="screen">
        <rosparam>
            child_frame_id: base_laser_front
            x: 0.44
            y: 0.24
            z: 0.195
            yaw: 0.7854
            roll: 3.14159
        </rosparam>
    </node>

    <node name="tf_base_laser_rear" pkg="tf_broadcaster" type="tf_broadcaster" output="screen">
        <rosparam>
            child_frame_id: base_laser_rear
            x: -0.34
            y: -0.24
            z: 0.195
            yaw: -2.3562
            roll: 3.14159
        </rosparam>
    </node>

    <node name="tf_base_imu" pkg="tf_broadcaster" type="tf_broadcaster" output="screen">
        <rosparam>
            child_frame_id: base_imu
            x: -0.18
            y: 0.08
        </rosparam>
    </node>
   

    <node name="robot_pose_publisher" pkg="robot_pose_publisher" type="robot_pose_publisher" output="screen"/>

    <include file="$(find bringup)/launch/rosbridge_drive_aqmd2s.launch">
        <arg name="drive_port_left" value="/dev/usb_intern41"/>
        <arg name="drive_port_right" value="/dev/usb_intern42"/>
        <arg name="wheel_seperation" value="0.492"/>
        <arg name="wheel_ratio" value="15000.0"/>
    </include>

    <include file="$(find bringup)/launch/rosbridge_imu_jy901.launch">
        <arg name="imu_port" value="/dev/usb_intern23"/>
    </include>
    
<!--     <include file="$(find bringup)/launch/rosbridge_plc_yafei.launch">
        <arg name="plc_port" value="/dev/usb_intern24"/>
    </include> -->

    <node name="cob_sick_s300_front" pkg="cob_sick_s300" type="cob_sick_s300" output="screen">
        <param name="port" value="/dev/usb_left"/>
        <param name="baud" value="500000" />
        <param name="scan_duration" value="0.025" />
        <param name="scan_cycle_time" value="0.04" />
        <param name="frame_id" value="/base_laser_front" />
        <param name="publish_frequency" value="30" />
        <param name="scan_id" value="7" />
        <param name="inverted" value="false" />
    	<remap from="/scan" to="/scan_front"/>
    </node>

 
    <node name="cob_sick_s300_rear" pkg="cob_sick_s300" type="cob_sick_s300" output="screen">
        <param name="port" value="/dev/usb_intern43" />
        <param name="baud" value="500000" />
        <param name="scan_duration" value="0.025" />
        <param name="scan_cycle_time" value="0.04" />
        <param name="frame_id" value="/base_laser_rear" />
        <param name="publish_frequency" value="30" />
        <param name="scan_id" value="7" />
        <param name="inverted" value="false" />
    	<remap from="/scan" to="/scan_rear"/>
    </node>

    <node pkg="cob_scan_unifier" type="scan_unifier_node" name="cob_scan_unifier" output="screen">
        <rosparam>
           input_scans: ["scan_front", "scan_rear"]
           loop_rate: 20.0
        </rosparam>
    </node>

     
    <node name="scan_filter" pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen">
        <remap from="scan" to="scan_unified"/>
        <remap from="scan_filtered" to="scan_filtered"/>
        <rosparam>
            scan_filter_chain:
            - type: laser_filters/LaserArrayFilter
              name: laser_median_filter
              params: 
                range_filter_chain:
                  - name: median_5
                    type: filters/MultiChannelMedianFilterFloat 
                    params:
                      number_of_observations: 5
                      unused: 10
                intensity_filter_chain:
                  - name: median_5
                    type: filters/MultiChannelMedianFilterFloat 
                    params:
                      number_of_observations: 5
                      unused: 10
        </rosparam>
    </node>

    <node name="scan_rectifier" pkg="scan_rectifier" type="scan_rectifier" output="screen">
        <remap from="scan_input" to="scan_filtered"/>
        <remap from="scan_output" to="scan_rectified"/>
        <rosparam>
            max_range: 25.0
        </rosparam>
    </node>

<!--     <node name="scan_marker" pkg="scan_marker" type="scan_marker" output="screen">
        <remap from="scan" to="scan_rectified"/>
        <remap from="pose" to="/scan_marker/pose"/>
        <rosparam>
            marker_obs: 3
            marker_interval: 0.11
            marker_threshold: 240.0
        </rosparam>
    </node> -->

    <node name="robot_pose_ekf" pkg="robot_pose_ekf" type="robot_pose_ekf">
        <rosparam>
            output_frame: odom
            base_footprint_frame: base_footprint
            freq: 30.0
            sensor_timeout: 1.0
            odom_used: true
            imu_used: true
            vo_used: false
        </rosparam>
    </node>

<!--     <node name="sound_play" pkg="sound_play" type="soundplay_node.py"/> -->

    <node name="diagnostic_aggregator" pkg="diagnostic_aggregator" type="aggregator_node" args="CPP" output="screen">
        <rosparam>
analyzers:
  device:
    type: diagnostic_aggregator/AnalyzerGroup
    path: device
    analyzers:
      odom_left:
        type: diagnostic_aggregator/GenericAnalyzer
        path: odom_l
        timeout: 5.0
        find_and_remove_prefix: left
        num_items: 2
      odom_right:
        type: diagnostic_aggregator/GenericAnalyzer
        path: odom_r
        timeout: 5.0
        find_and_remove_prefix: right
        num_items: 2
      joystick:
        type: diagnostic_aggregator/GenericAnalyzer
        path: 'joystick'
        timeout: 5.0
        startswith: ['Battery', 'Charging State', 'Connection', 'ps3_joy']
        remove_prefix: 'ps3_joy'
        </rosparam>
    </node>
</launch>
