<?xml version="1.0"?>
<launch>
    <node name="rosbridge_plc_innolux_L_P" pkg="rosbridge_driver" type="rosbridge_driver" output="screen">
        <rosparam>
            port_chain:
              - name: plc_port
                type: socket
                ip_address: 192.168.0.12
                ip_port: 9528
            topic_chain:
              - name: waypoint_user_pub
                type: subscribe
              - name: agv_status
                type: event
                freq: 5
                shelf: 0x82
                echo: [shelf, status]
                action_chain:
                  - name: plc_port
                    type: write
                    byte: [0x00, 0x00, 0x00, 0x00, 0x00, 0x06, shelf, 0x03, 0x00, 0x00, 0x00, 0x01]
                  - name: plc_port
                    type: read
                    byte: [0x00, 0x00, 0x00, 0x00, 0x00, 0x05, shelf, 0x03, 0x02, status, big]
              - name: plc_transport
                type: event
                roar: [value]
                shelf: 0x82
                action_chain:
                  - name: plc_port
                    type: write
                    byte: [0x00, 0x00, 0x00, 0x00, 0x00, 0x09, shelf, 0x10, 0x00, 0x02, 0x00, 0x01, 0x02, 0x00, value]
                  - name: plc_port
                    type: read
                    byte: [0x00, 0x00, 0x00, 0x00, 0x00, 0x06, shelf, 0x10, 0x00, 0x02, 0x00, 0x01]
              - name: agv_arrive_at_warehouse
                type: event
                action_chain:
                  - name: plc_port
                    type: write
                    byte: [0x00, 0x00, 0x00, 0x00, 0x00, 0x0d, 0x82, 0x10, 0x00, 0x00, 0x00, 0x03, 0x06, 0x00, 0x00, 0x00, 0x00, 0x00, 0x01]
                  - name: plc_port
                    type: read
                    byte: [0x00, 0x00, 0x00, 0x00, 0x00, 0x06, 0x82, 0x10, 0x00, 0x00, 0x00, 0x03]
              - name: agv_leave_from_warehouse
                type: event
                action_chain:
                  - name: plc_port
                    type: write
                    byte: [0x00, 0x00, 0x00, 0x00, 0x00, 0x0d, 0x82, 0x10, 0x00, 0x00, 0x00, 0x03, 0x06, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00]
                  - name: plc_port
                    type: read
                    byte: [0x00, 0x00, 0x00, 0x00, 0x00, 0x06, 0x82, 0x10, 0x00, 0x00, 0x00, 0x03]
              - name: layer_1
                type: event
                action_chain:
                  - name: plc_port
                    type: write
                    byte: [0x00, 0x00, 0x00, 0x00, 0x00, 0x0d, 0x82, 0x10, 0x00, 0x00, 0x00, 0x03, 0x06, 0x00, 0x00, 0x00, 0x00, 0x00, 0x06]
                  - name: plc_port
                    type: read
                    byte: [0x00, 0x00, 0x00, 0x00, 0x00, 0x06, 0x82, 0x10, 0x00, 0x00, 0x00, 0x03]
              - name: layer_2
                type: event
                action_chain:
                  - name: plc_port
                    type: write
                    byte: [0x00, 0x00, 0x00, 0x00, 0x00, 0x0d, 0x82, 0x10, 0x00, 0x00, 0x00, 0x03, 0x06, 0x00, 0x00, 0x00, 0x00, 0x00, 0x0a]
                  - name: plc_port
                    type: read
                    byte: [0x00, 0x00, 0x00, 0x00, 0x00, 0x06, 0x82, 0x10, 0x00, 0x00, 0x00, 0x03]
              - name: layer_3
                type: event
                action_chain:
                  - name: plc_port
                    type: write
                    byte: [0x00, 0x00, 0x00, 0x00, 0x00, 0x0d, 0x82, 0x10, 0x00, 0x00, 0x00, 0x03, 0x06, 0x00, 0x00, 0x00, 0x00, 0x00, 0x12]
                  - name: plc_port
                    type: read
                    byte: [0x00, 0x00, 0x00, 0x00, 0x00, 0x06, 0x82, 0x10, 0x00, 0x00, 0x00, 0x03]
              - name: layer_12
                type: event
                action_chain:
                  - name: plc_port
                    type: write
                    byte: [0x00, 0x00, 0x00, 0x00, 0x00, 0x0d, 0x82, 0x10, 0x00, 0x00, 0x00, 0x03, 0x06, 0x00, 0x00, 0x00, 0x00, 0x00, 0x0e]
                  - name: plc_port
                    type: read
                    byte: [0x00, 0x00, 0x00, 0x00, 0x00, 0x06, 0x82, 0x10, 0x00, 0x00, 0x00, 0x03]
              - name: layer_13
                type: event
                action_chain:
                  - name: plc_port
                    type: write
                    byte: [0x00, 0x00, 0x00, 0x00, 0x00, 0x0d, 0x82, 0x10, 0x00, 0x00, 0x00, 0x03, 0x06, 0x00, 0x00, 0x00, 0x00, 0x00, 0x16]
                  - name: plc_port
                    type: read
                    byte: [0x00, 0x00, 0x00, 0x00, 0x00, 0x06, 0x82, 0x10, 0x00, 0x00, 0x00, 0x03]
              - name: layer_23
                type: event
                action_chain:
                  - name: plc_port
                    type: write
                    byte: [0x00, 0x00, 0x00, 0x00, 0x00, 0x0d, 0x82, 0x10, 0x00, 0x00, 0x00, 0x03, 0x06, 0x00, 0x00, 0x00, 0x00, 0x00, 0x1a]
                  - name: plc_port
                    type: read
                    byte: [0x00, 0x00, 0x00, 0x00, 0x00, 0x06, 0x82, 0x10, 0x00, 0x00, 0x00, 0x03]
              - name: layer_123
                type: event
                action_chain:
                  - name: plc_port
                    type: write
                    byte: [0x00, 0x00, 0x00, 0x00, 0x00, 0x0d, 0x82, 0x10, 0x00, 0x00, 0x00, 0x03, 0x06, 0x00, 0x00, 0x00, 0x00, 0x00, 0x1e]
                  - name: plc_port
                    type: read
                    byte: [0x00, 0x00, 0x00, 0x00, 0x00, 0x06, 0x82, 0x10, 0x00, 0x00, 0x00, 0x03]
              - name: reset_agv
                type: event
                action_chain:
                  - name: plc_port
                    type: write
                    byte: [0x00, 0x00, 0x00, 0x00, 0x00, 0x0d, 0x82, 0x10, 0x00, 0x00, 0x00, 0x03, 0x06, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00]
                  - name: plc_port
                    type: read
                    byte: [0x00, 0x00, 0x00, 0x00, 0x00, 0x06, 0x82, 0x10, 0x00, 0x00, 0x00, 0x00]
        </rosparam>
    </node>
</launch>
