<?xml version="1.0"?>
<launch>
    <include file="$(find bringup)/launch/bringup-base.launch"/>

    <node name="tf_base_footprint" pkg="tf_broadcaster" type="tf_broadcaster" output="screen">
        <rosparam>
            frame_id: base_footprint
            z: 0.11
        </rosparam>
    </node>

    <node name="tf_base_laser" pkg="tf_broadcaster" type="tf_broadcaster" output="screen">
        <rosparam>
            child_frame_id: base_laser
            x: 0.285
            z: 0.25
            roll: 3.14159
        </rosparam>
    </node>

    <node name="tf_base_imu" pkg="tf_broadcaster" type="tf_broadcaster" output="screen">
        <rosparam>
            child_frame_id: base_imu
            x: -0.18
            y: 0.08
        </rosparam>
    </node>

    <node name="tf_base_infrared1" pkg="tf_broadcaster" type="tf_broadcaster" output="screen">
        <rosparam>
            child_frame_id: base_infrared_01
            x: 0.2953
            y: -0.2241
            z: 0.0555
            yaw: -0.845
            pitch: -0.218
        </rosparam>
    </node>

    <node name="tf_base_infrared2" pkg="tf_broadcaster" type="tf_broadcaster" output="screen">
        <rosparam>
            child_frame_id: base_infrared_02
            x: 0.3288
            y: -0.1755
            z: 0.0555
            yaw: -0.3838
            pitch: -0.218
        </rosparam>
    </node>

    <node name="tf_base_infrared3" pkg="tf_broadcaster" type="tf_broadcaster" output="screen">
        <rosparam>
            child_frame_id: base_infrared_03
            x: 0.3449
            y: -0.09
            z: 0.0555
            yaw: -0.055
            pitch: -0.218
        </rosparam>
    </node>

    <node name="tf_base_infrared4" pkg="tf_broadcaster" type="tf_broadcaster" output="screen">
        <rosparam>
            child_frame_id: base_infrared_04
            x: 0.3449
            y: 0.09
            z: 0.0555
            yaw: 0.055
            pitch: -0.218
        </rosparam>
    </node>

    <node name="tf_base_infrared5" pkg="tf_broadcaster" type="tf_broadcaster" output="screen">
        <rosparam>
            child_frame_id: base_infrared_05
            x: 0.3288
            y: 0.1755
            z: 0.0555
            yaw: 0.3838
            pitch: -0.218
        </rosparam>
    </node>
   
    
    <node name="tf_base_infrared6" pkg="tf_broadcaster" type="tf_broadcaster" output="screen">
        <rosparam>
            child_frame_id: base_infrared_06
            x: 0.2953
            y: 0.2241
            z: 0.0555
            yaw: 0.845
            pitch: -0.218
        </rosparam>
    </node> 
   <node name ="map_transport_node" pkg="map_transport" type="map_transport_node" output="screen"/>
   <node name ="tf2_web_republisher" pkg="tf2_web_republisher" type="tf2_web_republisher" output="screen"/>

    <node name="robot_pose_publisher" pkg="robot_pose_publisher" type="robot_pose_publisher" output="screen"/>

<!--     <include file="$(find bringup)/launch/rosbridge_drive_aqmd2s.launch">
        <arg name="drive_port_left" value="/dev/usb_bottom1"/>
        <arg name="drive_port_right" value="/dev/usb_bottom2"/>
        <arg name="wheel_seperation" value="0.385"/>
        <arg name="wheel_ratio" value="9517.0"/>
    </include> -->

    <include file="$(find bringup)/launch/rosbridge_imu_jy901.launch">
        <arg name="imu_port" value="/dev/usb_intern23"/>
    </include>
    
    <include file="$(find bringup)/launch/rosbridge_hrg4.launch">
        <arg name="plc_port" value="/dev/usb_intern24"/>
        <arg name="wheel_seperation" value="0.385"/>
        <arg name="wheel_ratio" value="3978873"/>
    </include>

    <include file="$(find bringup)/launch/sick_s300.launch">
    	<arg name="scan_port" value="/dev/usb_intern43"/>
    </include>
  
    <node name="scan_filter" pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen">
        <remap from="scan" to="scan"/>
        <remap from="scan_filtered" to="scan_filtered"/>
        <rosparam>
            scan_filter_chain:
            - type: laser_filters/LaserArrayFilter
              name: laser_median_filter
              params: 
                range_filter_chain:
                  - name: median_5
                    type: filters/MultiChannelMedianFilterFloat 
                    params:
                      number_of_observations: 5
                      unused: 10
                intensity_filter_chain:
                  - name: median_5
                    type: filters/MultiChannelMedianFilterFloat 
                    params:
                      number_of_observations: 5
                      unused: 10
            - name: shadows
              type: laser_filters/ScanShadowsFilter
              params:
                min_angle: 10
                max_angle: 170
                neighbors: 5
                window: 1
            - name: box_right
              type: LaserScanBoxFilter
              params:
                box_frame: base_laser
                min_x: -0.4
                max_x: 0.0
                min_y: 0.24
                max_y: 0.3
                min_z: -0.1
                max_z: 1.0
            - name: box_left
              type: LaserScanBoxFilter
              params:
                box_frame: base_laser
                min_x: -0.4
                max_x: 0.0
                min_y: -0.3
                max_y: -0.24
                min_z: -0.1
                max_z: 1.0
            - name: mask
              type: laser_filters/LaserScanMaskFilter
              params:
                masks:
                  base_laser:
                  - 0
                  - 1
                  - 2
                  - 3 
                  - 4 
                  - 5
                  - 6
                  - 7
                  - 8
                  - 9
                  - 531
                  - 532
                  - 533
                  - 534
                  - 535
                  - 536
                  - 537
                  - 538
                  - 539
                  - 540
            
        </rosparam>
    </node>

    <node name="scan_rectifier" pkg="scan_rectifier" type="scan_rectifier" output="screen">
        <remap from="scan_input" to="scan_filtered"/>
        <remap from="scan_output" to="scan_rectified"/>
        <rosparam>
            range_max: 29.0
        </rosparam>
    </node>

    <node name="scan_marker_edit" pkg="scan_marker_edit" type="scan_marker_edit" output="screen">
        <!-- <remap from="pose" to="move_base_simple/goal"/> -->
        <rosparam>
            dist_threshold: 0.5
        </rosparam>
    </node>

    <node name="robot_pose_ekf" pkg="robot_pose_ekf" type="robot_pose_ekf">
        <rosparam>
            output_frame: odom
            base_footprint_frame: base_footprint
            freq: 30.0
            sensor_timeout: 1.0
            odom_used: true
            imu_used: false
            vo_used: false
        </rosparam>
    </node>

   <!--  <node name="sound_play" pkg="sound_play" type="soundplay_node.py"/> -->

    <node name="diagnostic_aggregator" pkg="diagnostic_aggregator" type="aggregator_node" args="CPP" output="screen">
        <rosparam>
analyzers:
  device:
    type: diagnostic_aggregator/AnalyzerGroup
    path: device
    analyzers:
      odom_left:
        type: diagnostic_aggregator/GenericAnalyzer
        path: odom_l
        timeout: 5.0
        find_and_remove_prefix: left
        num_items: 2
      odom_right:
        type: diagnostic_aggregator/GenericAnalyzer
        path: odom_r
        timeout: 5.0
        find_and_remove_prefix: right
        num_items: 2
      joystick:
        type: diagnostic_aggregator/GenericAnalyzer
        path: 'joystick'
        timeout: 5.0
        startswith: ['Battery', 'Charging State', 'Connection', 'ps3_joy']
        remove_prefix: 'ps3_joy'
        </rosparam>
    </node>
</launch>
