html, body, div, nav, section, footer, p, h1, h2, h3, h4, h5, h6, span, img, a, ul, li, ol, dl, dd,
dt, table, th, tr, td, form, input, select, option, textarea, button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  outline: none;
  vertical-align: top;
  text-shadow: none!important;
  font-weight: normal;
   }
ul, ol {
  list-style: none; }
a {
  text-decoration: none;
  }
/*.clear::after {
  content: ".";
  height: 0;
  display: block;
  visibility: hidden;
  clear: both; }
.clear {
  *zoom: 1; }*/
/*Collective declaration*/
/*导航左侧菜单选项 css*/
.map_menu{ 
	width:35px; 
	height: 35px; 
	border-radius: 50%; 
	background: rgba(255,255,255,0.5); 
	box-shadow:-1px 1px 2.5px #999999; 
	overflow: hidden; 
	position: fixed; 
	left: 20px; 
	top: 20px;  }
/*导航中间地图名称 css*/
.map_nav { 
	width: 35%; 
	height: 35px; 
	border-top: 0.5px solid rgba(0,0,0,0.05); 
	box-sizing: border-box; 
	border-right: 0.5px solid rgba(0,0,0,0.05); 
	text-align: center; 
	line-height: 35px; 
	font-size: 18px; 
	position: fixed;
  left: 35%; 
  top: 20px; 
  color: #3b6dde; 
  border-radius: 10px; 
  background: rgba(255,255,255,0.5); 
  box-shadow: -1px 1px 1px #999999; 
  display:block;
  white-space:nowrap; 
  overflow:hidden; 
  text-overflow:ellipsis;
    }
/*导航右侧**选项 css*/
.map_switch{ 
	width: 34px; 
	height: 34px; 
	border-radius: 50%; 
	background: rgba(255,255,255,0.5); 
	box-shadow:-1px 1px 2.5px #999999; 
	overflow: hidden; 
	position: fixed; 
	right: 20px; 
	top: 20px; }
	
	
/*导航左侧打开侧边栏选项 css*/
#sidebar{
	background: #FFFFFF;
	box-shadow: none;
	border-right: 1px solid #CCCCCC;
}
.open_sidebar{ 
	width: 34px; 
	height: 34px; 
	border-radius: 50%; 
	background: rgba(255,255,255,0.5); 
	box-shadow:-1px 1px 2.5px #999999; 
	overflow: hidden; 
	position: fixed; 
	left: 20px; 
	top: 70px; }
.ui-slider-switch{
	width: 27%!important;
	position: absolute!important;
	right: 0!important;
	top: 5px!important;
	border-radius: 25px!important;
	background: #FFFFFF!important;
	}
.sidebar_map, .sidebar_Robot{
	width: 100%; 
	height: 60px;
	line-height: 60px; 
	font-size: 18px; 
	color: #4063c1; 
	padding-left: 10px;
	box-sizing: border-box; 
	position: relative;
	border-bottom: 1px solid #edebf6;
	position: relative;  }
.sidebar_site{
	width: 100%; 
	height: 60px;
	line-height: 60px;
	overflow: hidden; 
	font-size: 18px; 
	color: #4063c1; 
	padding-left: 10px;
	box-sizing: border-box; 
	border-bottom: 1px solid #edebf6;
	position: relative;
	transition: all 0.5s;  }
#sidebar_site_span{
	display:inline-block; 
	width: 25px; 
	height: 25px; 
	margin-top: 17.5px; 
	background-image: url(../image/add_one.png);
	background-size: 100%;
	}
.sidebar_site_type{
	width: 100%; 
	height: 60px;
	line-height: 60px; 
	font-size: 16px; 
	color: #4063c1; 
	padding-left: 50px;
	box-sizing: border-box; 
	border-bottom: 1px solid #edebf6;
	position: relative;  }
.sidebar_route{
	width: 100%; 
	height: 60px;
	line-height: 60px;
	overflow: hidden; 
	font-size: 18px; 
	color: #4063c1; 
	padding-left: 10px;
	box-sizing: border-box; 
	border-bottom: 1px solid #edebf6;
	position: relative;
	transition: all 0.5s; }
#sidebar_route_span{
	display:inline-block; 
	width: 25px; 
	height: 25px; 
	margin-top: 17.5px; 
	background-image: url(../image/add_one.png);
	background-size: 100%;
}
.sidebar_route_type{
	width: 100%; 
	height: 60px;
	line-height: 60px; 
	font-size: 16px; 
	color: #4063c1; 
	padding-left: 50px;
	box-sizing: border-box; 
	border-bottom: 1px solid #edebf6;
	position: relative;  }
	

/*地图 css*/
#mapNav{ width: 100%; height: 100%; }
/*登录页 css*/
#login{ 
 	width: 100%; 
 	height: 100%;  }
.box{ 
  width: 85%; 
  background: #FFFFFF; 
  box-sizing: border-box; 
  border-radius: 5px; 
  overflow: hidden; 
  margin: 0 auto; 
  margin-top: 2%;
  box-shadow: 0px 0px 2px #3B6DDE;   }
.box_logo{ 
  width: 150px; 
  height:150px; 
  overflow: hidden; 
  margin: 0 auto; 
  margin-top: 35px; 
  background: #ffffff; 
  border-radius: 50%; 
  box-shadow:0px 0px 10px #7e9ecc; }
.box_login{ 
  width: 90%; 
  margin: 0 auto; 
  margin-top: 50px;}
.box_login li{ 
  color: #3b6dde; 
  width: 100%; 
  height: 50px; 
  border: 1px solid #cccccc; 
  border-radius: 5px; 
  line-height: 50px;  }
.box_login_logo{ 
  display: inline-block; 
  width: 20px; 
  height: 20px; 
  margin: 15px 5px;}
.inp{ 
  width: 70%; 
  height: 100%; 
  font-size: 16px;
  color: #3B6DDE;  }
.remember_checkbox{ 
  width: 90%; 
  position: relative; 
  height: 20px; 
  margin: 0 auto; 
  line-height: 20px; 
  font-size: 14px; 
  color: #3b6dde; 
  margin-top: 20px; }
/*.remember_checkbox_right{ position: absolute; right: 0; top: 0; height: 20px;}*/
.checkbox{
	margin-top: 4px;
	margin-left: 3px;
}
.entry{ 
  width: 100%; 
  height: 60px; 
  background: #4873e4; 
  margin-top: 30px; 
  font-size: 20px;  
  color: #ffffff; 
  text-align: center;}
#entry_button{
	width: 100%;
	height: 100%;
	color: #FFFFFF;
	font-size: 20px;
}
/*登录页css结束*/

/*站点弹框 css*/
#bomb_boxs{ 
	width: 125px; 
	height: 125px; 
	position: absolute;
	top: -125px; 
	left: -125px; 
	opacity: 0;  }
#bomb_boxs_1, #bomb_boxs_2, #bomb_boxs_3, #bomb_boxs_4, #bomb_boxs_5, #bomb_boxs_6, #bomb_boxs_7, #bomb_boxs_8{
	width: 24%; 
	height: 24%; 
	background: #3b6dde; 
	box-shadow:-1px 1px 2.5px #999999; 
	border-radius: 50%; 
	position: absolute;
  opacity: 0; 
  transition: all 0.3s; 
  -moz-transition: all 0.3s; 
  -webkit-transition: all 0.3s; 
  -ms-transition: all 0.3s;  }
#bomb_boxs_1{ left: 13%; top: 13%;}
#bomb_boxs_2{ left: 38%; top: 0;}
#bomb_boxs_3{ right: 13%; top: 13%;}
#bomb_boxs_4{ right: 0; top: 38%;}
#bomb_boxs_5{ right: 13%; bottom: 13%;}
#bomb_boxs_6{ left: 38%; bottom: 0;}
#bomb_boxs_7{ left: 13%; bottom: 13%;}
#bomb_boxs_8{ left: 0; top: 38%;}
/*弹框css结束*/

/*添加站点页面 css*/
#share{
	width: 100%;
	height: 100%;
	background: #FFFFFF;
}
.share_back{ 
	width:25px; 
	height: 25px; 
	position: absolute; 
	left: 15px; 
	top: 20px; 
	}
.menu_nav p{ text-shadow: none!important;}
#share ul li{ text-align: center;}
/*添加站点页面 css 结束*/

/*添加站点 css*/
#site{ 
	width: 100%; 
	height: 100%;
	background: #FFFFFF;}
.site_nav{ 
	width: 100%; 
	height: 60px; 
	text-align: center; 
	line-height: 60px; 
	color: #ffffff; 
	position: relative; 
	background: #3b6dde; 
	text-shadow: none!important;}
.site_right{ 
	width:25px; 
	height: 25px; 
	position: absolute; 
	right: 15px; 
	top: 20px;  }
.site_main{ width: 100%; }
.site_main li{ 
	width: 100%; 
	height: 75px; 
	position: relative; 
	background: #FFFFFF; 
	font-size: 16px; 
	box-sizing: border-box; 
	color: #4063c1; 
	border-bottom: 1px solid #edebf6; }
.site_main li p{ padding-left: 20px; padding-top: 5px;}
.site_main li .inp{ 
	width: 90%; 
	height: 35px; 
	border-radius: 5px; 
	border: 1px solid #cccccc; 
	color: #3b6dde ; 
	margin-left: 4%; 
	margin-top: 5px; 
	font-size: 14px!important;
	padding-left: 1%;  }
.site_main li .site_select{ 
	width: 92%; 
	height: 35px; 
	margin-left: 4%;
	margin-top: 5px; 
	border-radius: 5px; 
	border: 1px solid #3b6dde; 
	text-align: center; 
	line-height: 35px; 
	position: relative;}
.site_main li .submit{
	width: 95%;
	height: 50%;
	background: #3B6DDE;
	color: #FFFFFF;
	margin-left: 2.5%;
	border-radius: 5px;
	margin-top: 20px;
	font-size: 18px;
}
/*添加站点css结束*/

/*添加轨迹 css*/
#trajectory{ 
	width: 100%; 
	height: 100%; }
.route_nav{ 
	width: 100%; 
	height: 60px; 
	text-align: center; 
	line-height: 60px; 
	color: #ffffff; 
	position: relative; 
	background: #3b6dde;}
.route_nav .route_right{ 
	width:25px; 
	height: 25px; 
	position: absolute; 
	right: 15px; 
	top: 20px;  }
.route_main{ width: 100%; }
.route_main li{ 
	width: 100%; 
	padding: 1px; 
	position: relative; 
	background: #FFFFFF; 
	font-size: 16px; 
	box-sizing: border-box; 
	color: #4063c1; 
	border-bottom: 1px solid #edebf6; 
	box-shadow:0 -1px 2px #cccccc; }
.route_main li p{ 
	padding-left: 20px; 
	padding-top: 5px;}
.route_main li .inp{
	width: 87.5%; 
	height: 35px; 
	border-radius: 5px; 
	border: 1px solid #cccccc; 
	color: #3b6dde ; 
	margin-left: 15px; 
	margin-top: 5px; 
	padding-left: 2.5%;}
.route_select{ 
	width: 90%; 
	height: 35px; 
	margin-left: 15px; 
	margin-top: 10px; 
	border-radius: 5px; 
	border: 1px solid #3b6dde; 
	text-align: center; 
	line-height: 35px; 
	position: relative;}
/*添加轨迹结束*/

/*菜单页 css*/
#menu{
	width: 100%;
	height: 100%;
	background: #FFFFFF;
}
.menu_nav{ 
	width: 100%; 
	height: 60px; 
	text-align: center; 
	line-height: 60px; 
	font-size: 18px; 
	color: #ffffff; 
	position: relative; 
	background: #3b6dde;  } 
.menu_nav_back{ 
	width:25px; 
	height: 25px; 
	position: absolute; 
	left: 15px; 
	top: 20px; }
.menu_main{ width: 100%; }
.menu_main li{ 
	width: 100%; 
	height: 75px; 
	position: relative; 
	background: #FFFFFF; 
	line-height: 75px; 
	font-size: 18px; 
	box-sizing: border-box; 
	color: #4063c1; 
	border-bottom: 1px solid #edebf6; 
	box-shadow:0 -1px 2px #cccccc; }
.menu_main_span_left{ 
	display: inline-block; 
	width: 35px;
	height: 35px; 
	margin: 20px 15px; }
.menu_main_span_right{ 
	display: inline-block; 
	width: 25px; 
	height: 25px; 
	position: absolute; 
	right: 15px; 
	top: 24px;  }
/*菜单页css结束*/
	

/*地图向导*/
#map_wizard{
	width: 100%;
	height: 100%;
	background: #FFFFFF; 
}
.map_wizard_nav{ 
	width: 100%; 
	height: 60px; 
	text-align: center; 
	line-height: 60px; 
	color: #ffffff; 
	position: relative; 
	background: #3b6dde;}
.map_wizard_right{ 
	width:25px; 
	height: 25px; 
	position: absolute; 
	right: 15px; 
	top: 20px;  }
.mapping_text{
	width: 90%;
	margin: 0 auto;
	color: #3B6DDE;
	font-size: 18px;
	margin-top: 30px;
}
.mapping_text_1{
	width: 90%;
	margin: 0 auto;
	color: #3B6DDE;
	font-size: 14px;
	margin-top: 15px;
}
.mapping_button{
	width: 90%;
	height: 40px;
	display: inline-block;
	border-radius: 5px;
	margin: 0 5%;
	margin-top: 25px;
	text-align: center;
	line-height: 40px;
	color: #3b6dde;
	font-size: 20px;
	border: 1px solid #3B6DDE;
	position: relative;
}
#mapping_button{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	color: #3b6dde;
	font-weight: 900;
	font-size: 18px;
}
.mapping_button_right{
	width: 25px;
	height: 25px;
	position: absolute;
	right: 15px;
	top: 7.5px;
}
.mapping_button_1{
	width: 90%;
	height: 30px;
	border-radius: 5px;
	margin: 0 auto;
	margin-top: 25px;
	text-align: center;
	line-height: 30px;
	color: #3b6dde;
	font-size: 16px;
	border: 1px solid #3B6DDE;
	position: relative;
}
.mapping_button_right_1{
	
	width: 25px;
	height: 25px;
	position: absolute;
	right: 15px;
	top: 2.5px;
}
/*地图向导 css end*/

/*站点巡航*/
#site_cruise{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
}
.site_cruise_nav{ 
	width: 100%; 
	height: 60px; 
	text-align: center; 
	line-height: 60px; 
	color: #ffffff; 
	position: relative; 
	background: #3b6dde;}
.site_cruise_right{ 
	width:25px; 
	height: 25px; 
	position: absolute; 
	right: 15px; 
	top: 20px;  }
/*站点巡航 css end*/

/*通用*/
#currency{
	width: 100%;
	height: 100%;
	background: #FFFFFF;
}
.currency_nav{ 
	width: 100%; 
	height: 60px; 
	text-align: center; 
	line-height: 60px; 
	color: #ffffff; 
	position: relative; 
	background: #3b6dde;}
.currency_right{ 
	width:25px; 
	height: 25px; 
	position: absolute; 
	right: 15px; 
	top: 20px;  }
.currency_main{ width: 100%; }
.currency_main li{ 
	width: 100%; 
	height: 75px; 
	position: relative; 
	background: #FFFFFF; 
	line-height: 75px; 
	font-size: 18px; 
	box-sizing: border-box; 
	text-align: center;
	color: #4063c1; 
	border-bottom: 1px solid #edebf6; 
	box-shadow:0 -1px 2px #cccccc; }
	
/*通用-代码调试 css*/
#debugging{
	width: 100%;
	height: 100%;
	background: #FFFFFF;
}
.debugging_nav{ 
	width: 100%; 
	height: 60px; 
	text-align: center; 
	line-height: 60px; 
	color: #ffffff; 
	position: relative; 
	background: #3b6dde;}
.debugging_right{ 
	width:25px; 
	height: 25px; 
	position: absolute; 
	right: 15px; 
	top: 20px;  }
#debugging_text{
	width: 94.5%;
	height: 200px;
	border: 1px solid #3B6DDE;
	margin-left: 2%;
	margin-top: 15px;
	border-radius: 2.5px;
	padding-top: 5px;
	padding-left: 0.5%;
	font-size: 18px;
	color: #3B6DDE;
}
#debugging_select{ 
	width: 95.5%; 
	height: 30px; 
	margin-left: 2%;
	margin-top: 10px; 
	border-radius: 5px; 
	font-size: 16px;
	border: 1px solid #3b6dde; 
	text-align: center; 
	line-height: 30px; 
	position: relative;}
#debugging_button{
	width: 95.5%;
	height: 35px;
	background: #3B6DDE;
	color: #FFFFFF;
	margin: 0 auto;
	font-size: 16px;
	border-radius: 2.5px;
	margin-left: 2%;
	margin-top: 15px;
}
/*通用-代码调试 css end*/
/*通用css end*/

/*系统诊断*/
#system_diagnosis{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
}
.system_diagnosis_nav{ 
	width: 100%; 
	height: 60px; 
	text-align: center; 
	line-height: 60px; 
	color: #ffffff; 
	position: relative; 
	background: #3b6dde;}
.system_diagnosis_right{ 
	width:25px; 
	height: 25px; 
	position: absolute; 
	right: 15px; 
	top: 20px;  }
/*系统诊断css end*/

/*系统日志*/
#system_log{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
}
.system_log_nav{ 
	width: 100%; 
	height: 60px; 
	text-align: center; 
	line-height: 60px; 
	color: #ffffff; 
	position: relative; 
	background: #3b6dde;}
.system_log_right{ 
	width:25px; 
	height: 25px; 
	position: absolute; 
	right: 15px; 
	top: 20px;  }
/*系统日志css end*/

/*更新链接*/
#update{
	width: 100%;
	height: 100%;
	background: #FFFFFF;
}
.update_nav{ 
	width: 100%; 
	height: 60px; 
	text-align: center; 
	line-height: 60px; 
	color: #ffffff; 
	position: relative; 
	background: #3b6dde;}
.update_right{ 
	width:25px; 
	height: 25px; 
	position: absolute; 
	right: 15px; 
	top: 20px;  }
#update_span, #update_span1{
	color: #3B6DDE;
	font-size: 18px;
	display: inline-block;
	margin: 20px;
}
.update_main{
	width:87.5%;
	border: 1px solid #3B6DDE;
	margin: 0 auto;
	border-radius: 5px;
	overflow: hidden;
}
.update_main li{
	width: 100%;
	height: 60px;
	color: #3B6DDE;
	line-height: 60px;
	border-bottom: 1px solid #CCCCCC;
}
#radio1, #radio2, #radio3, #radio4{
	width: 20px;
	height: 20px;
	margin: 20px 10px;
}

.update_button{
	width: 90%;
	height: 45px;
	line-height: 45px;
	border-radius: 5px;
	margin: 0 auto;
	margin-top: 15px;
	text-align: center;
	color: #FFFFFF;
	font-size: 18px;
	background: #3B6DDE;
	position: relative;
}
.update_button_right{
	width: 25px;
	height: 100px;
	position: absolute;
	right: 15px;
	top: 10px;
}
/*更新css结束*/

/*sweet 部分 css 改变*/
.sweet-alert{
	border: 1px solid #3B6DDE!important;
}
.sweet-alert p{
	font-size: 14px!important;
	color: #3B6DDE!important;
	}
.sweet-alert h2{
	font-size: 18px!important;
	color: #3B6DDE!important;
}	



