KERNEL=="ttyS[0-9]*", MODE="0666"
KERNEL=="ttyUSB[0-9]*", MODE="0666"

SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:1:1.0", SYMLINK+=usb_right
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:2:1.0", SYMLINK+=usb_left
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:3:1.0", SYMLINK+=usb_bottom
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:4:1.0", SYMLINK+=usb_top
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:5:1.0", SYMLINK+=usb_extern
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:6:1.0", SYMLINK+=usb_intern

SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:1.1:1.0", SYMLINK+=usb_right1
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:1.2:1.0", SYMLINK+=usb_right2
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:1.3:1.0", SYMLINK+=usb_right3
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:1.4:1.0", SYMLINK+=usb_right4
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:2.1:1.0", SYMLINK+=usb_left1
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:2.2:1.0", SYMLINK+=usb_left2
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:2.3:1.0", SYMLINK+=usb_left3
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:2.4:1.0", SYMLINK+=usb_left4
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:3.1:1.0", SYMLINK+=usb_bottom1
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:3.2:1.0", SYMLINK+=usb_bottom2
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:3.3:1.0", SYMLINK+=usb_bottom3
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:3.4:1.0", SYMLINK+=usb_bottom4
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:4.1:1.0", SYMLINK+=usb_top1
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:4.2:1.0", SYMLINK+=usb_top2
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:4.3:1.0", SYMLINK+=usb_top3
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:4.4:1.0", SYMLINK+=usb_top4
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:5.1:1.0", SYMLINK+=usb_extern1
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:5.2:1.0", SYMLINK+=usb_extern2
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:5.3:1.0", SYMLINK+=usb_extern3
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:5.4:1.0", SYMLINK+=usb_extern4
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:6.1:1.0", SYMLINK+=usb_intern1
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:6.2:1.0", SYMLINK+=usb_intern2
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:6.3:1.0", SYMLINK+=usb_intern3
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:6.4:1.0", SYMLINK+=usb_intern4

SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:1.1.1:1.0", SYMLINK+=usb_right11
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:1.1.2:1.0", SYMLINK+=usb_right12
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:1.1.3:1.0", SYMLINK+=usb_right13
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:1.1.4:1.0", SYMLINK+=usb_right14
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:1.2.1:1.0", SYMLINK+=usb_right21
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:1.2.2:1.0", SYMLINK+=usb_right22
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:1.2.3:1.0", SYMLINK+=usb_right23
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:1.2.4:1.0", SYMLINK+=usb_right24
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:1.3.1:1.0", SYMLINK+=usb_right31
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:1.3.2:1.0", SYMLINK+=usb_right32
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:1.3.3:1.0", SYMLINK+=usb_right33
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:1.3.4:1.0", SYMLINK+=usb_right34
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:1.4.1:1.0", SYMLINK+=usb_right41
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:1.4.2:1.0", SYMLINK+=usb_right42
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:1.4.3:1.0", SYMLINK+=usb_right43
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:1.4.4:1.0", SYMLINK+=usb_right44

SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:2.1.1:1.0", SYMLINK+=usb_left11
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:2.1.2:1.0", SYMLINK+=usb_left12
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:2.1.3:1.0", SYMLINK+=usb_left13
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:2.1.4:1.0", SYMLINK+=usb_left14
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:2.2.1:1.0", SYMLINK+=usb_left21
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:2.2.2:1.0", SYMLINK+=usb_left22
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:2.2.3:1.0", SYMLINK+=usb_left23
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:2.2.4:1.0", SYMLINK+=usb_left24
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:2.3.1:1.0", SYMLINK+=usb_left31
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:2.3.2:1.0", SYMLINK+=usb_left32
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:2.3.3:1.0", SYMLINK+=usb_left33
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:2.3.4:1.0", SYMLINK+=usb_left34
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:2.4.1:1.0", SYMLINK+=usb_left41
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:2.4.2:1.0", SYMLINK+=usb_left42
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:2.4.3:1.0", SYMLINK+=usb_left43
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:2.4.4:1.0", SYMLINK+=usb_left44

SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:3.1.1:1.0", SYMLINK+=usb_bottom11
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:3.1.2:1.0", SYMLINK+=usb_bottom12
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:3.1.3:1.0", SYMLINK+=usb_bottom13
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:3.1.4:1.0", SYMLINK+=usb_bottom14
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:3.2.1:1.0", SYMLINK+=usb_bottom21
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:3.2.2:1.0", SYMLINK+=usb_bottom22
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:3.2.3:1.0", SYMLINK+=usb_bottom23
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:3.2.4:1.0", SYMLINK+=usb_bottom24
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:3.3.1:1.0", SYMLINK+=usb_bottom31
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:3.3.2:1.0", SYMLINK+=usb_bottom32
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:3.3.3:1.0", SYMLINK+=usb_bottom33
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:3.3.4:1.0", SYMLINK+=usb_bottom34
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:3.4.1:1.0", SYMLINK+=usb_bottom41
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:3.4.2:1.0", SYMLINK+=usb_bottom42
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:3.4.3:1.0", SYMLINK+=usb_bottom43
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:3.4.4:1.0", SYMLINK+=usb_bottom44

SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:4.1.1:1.0", SYMLINK+=usb_top11
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:4.1.2:1.0", SYMLINK+=usb_top12
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:4.1.3:1.0", SYMLINK+=usb_top13
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:4.1.4:1.0", SYMLINK+=usb_top14
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:4.2.1:1.0", SYMLINK+=usb_top21
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:4.2.2:1.0", SYMLINK+=usb_top22
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:4.2.3:1.0", SYMLINK+=usb_top23
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:4.2.4:1.0", SYMLINK+=usb_top24
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:4.3.1:1.0", SYMLINK+=usb_top31
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:4.3.2:1.0", SYMLINK+=usb_top32
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:4.3.3:1.0", SYMLINK+=usb_top33
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:4.3.4:1.0", SYMLINK+=usb_top34
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:4.4.1:1.0", SYMLINK+=usb_top41
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:4.4.2:1.0", SYMLINK+=usb_top42
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:4.4.3:1.0", SYMLINK+=usb_top43
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:4.4.4:1.0", SYMLINK+=usb_top44

SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:4.1.1:1.0", SYMLINK+=usb_top11
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:4.1.2:1.0", SYMLINK+=usb_top12
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:4.1.3:1.0", SYMLINK+=usb_top13
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:4.1.4:1.0", SYMLINK+=usb_top14
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:4.2.1:1.0", SYMLINK+=usb_top21
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:4.2.2:1.0", SYMLINK+=usb_top22
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:4.2.3:1.0", SYMLINK+=usb_top23
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:4.2.4:1.0", SYMLINK+=usb_top24
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:4.3.1:1.0", SYMLINK+=usb_top31
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:4.3.2:1.0", SYMLINK+=usb_top32
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:4.3.3:1.0", SYMLINK+=usb_top33
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:4.3.4:1.0", SYMLINK+=usb_top34
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:4.4.1:1.0", SYMLINK+=usb_top41
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:4.4.2:1.0", SYMLINK+=usb_top42
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:4.4.3:1.0", SYMLINK+=usb_top43
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:4.4.4:1.0", SYMLINK+=usb_top44

SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:5.1.1:1.0", SYMLINK+=usb_extern11
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:5.1.2:1.0", SYMLINK+=usb_extern12
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:5.1.3:1.0", SYMLINK+=usb_extern13
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:5.1.4:1.0", SYMLINK+=usb_extern14
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:5.2.1:1.0", SYMLINK+=usb_extern21
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:5.2.2:1.0", SYMLINK+=usb_extern22
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:5.2.3:1.0", SYMLINK+=usb_extern23
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:5.2.4:1.0", SYMLINK+=usb_extern24
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:5.3.1:1.0", SYMLINK+=usb_extern31
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:5.3.2:1.0", SYMLINK+=usb_extern32
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:5.3.3:1.0", SYMLINK+=usb_extern33
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:5.3.4:1.0", SYMLINK+=usb_extern34
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:5.4.1:1.0", SYMLINK+=usb_extern41
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:5.4.2:1.0", SYMLINK+=usb_extern42
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:5.4.3:1.0", SYMLINK+=usb_extern43
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:5.4.4:1.0", SYMLINK+=usb_extern44

SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:6.1.1:1.0", SYMLINK+=usb_intern11
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:6.1.2:1.0", SYMLINK+=usb_intern12
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:6.1.3:1.0", SYMLINK+=usb_intern13
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:6.1.4:1.0", SYMLINK+=usb_intern14
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:6.2.1:1.0", SYMLINK+=usb_intern21
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:6.2.2:1.0", SYMLINK+=usb_intern22
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:6.2.3:1.0", SYMLINK+=usb_intern23
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:6.2.4:1.0", SYMLINK+=usb_intern24
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:6.3.1:1.0", SYMLINK+=usb_intern31
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:6.3.2:1.0", SYMLINK+=usb_intern32
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:6.3.3:1.0", SYMLINK+=usb_intern33
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:6.3.4:1.0", SYMLINK+=usb_intern34
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:6.4.1:1.0", SYMLINK+=usb_intern41
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:6.4.2:1.0", SYMLINK+=usb_intern42
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:6.4.3:1.0", SYMLINK+=usb_intern43
SUBSYSTEM=="tty", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:6.4.4:1.0", SYMLINK+=usb_intern44
