<?xml version="1.0"?>
<launch>
 
    <node pkg="robot_calibration" type="calibrate_base" name="base_calibration_node" output="screen">
        <remap from="imu" to="imu_left"/>
        <remap from="base_scan" to="scan"/>
        <param name="min_angle" value="-0.3"/>
        <param name="max_angle" value="0.3"/>
        <param name="accel_limit" value="3.0"/>
        <param name="base_controller/track_width" value="4.2"/>
        <param name="imu/gyro/scale" value="0.001221729"/>
    </node>

</launch>
